<div class="govuk-grid-column-one-quarter">
  <div class="govuk-form-group">
    <div class="govuk-label-wrapper" *ngIf="label">
      <label class="govuk-label govuk-label--m" [for]="idPrefix">
        {{ label }}
      </label>
    </div>

    <div *ngIf="hint" [id]="idPrefix + '-hint'" class="govuk-hint">
      {{ hint }}
    </div>

    <input
      class="govuk-input"
      [ngClass]="widthClass"
      [id]="idPrefix"
      [name]="idPrefix"
      type="text"
      [attr.aria-describedby]="hint ? idPrefix + '-hint' : null"
      [value]="value"
      (input)="onInput($event)"
      [disabled]="disabled"
    />
  </div>
</div>
