<div class="govuk-grid-column-one-quarter">
  <div class="govuk-form-group">
    @if (label) {
      <div class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" [for]="idPrefix">
          {{ label }}
        </label>
      </div>
    }

    @if (hint) {
      <div [id]="idPrefix + '-hint'" class="govuk-hint">
        {{ hint }}
      </div>
    }

    <input
      class="govuk-input"
      [ngClass]="widthClass"
      [id]="idPrefix"
      [name]="idPrefix"
      type="text"
      [attr.aria-describedby]="hint ? idPrefix + '-hint' : null"
      [value]="value"
      (input)="onInput($event)"
      [disabled]="disabled"
      [attr.list]="listId || null"
    />

    @if (listId) {
      <datalist [id]="listId">
        @for (s of suggestions; track s.value) {
          <option [value]="s.value">{{ s.label || s.value }}</option>
        }
      </datalist>
    }
  </div>
</div>
