<div class="govuk-grid-column-one-quarter">
  <div class="govuk-form-group">
    @if (label) {
      <label class="govuk-label govuk-label--m" [for]="idPrefix + '-hours'">
        {{ label }}
      </label>
    }

    @if (hint) {
      <div [id]="idPrefix + '-hint'" class="govuk-hint">
        {{ hint }}
      </div>
    }

    <div class="govuk-input__wrapper">
      <!-- Hours -->
      <input
        class="govuk-input govuk-input--width-2"
        [id]="idPrefix + '-hours'"
        [name]="idPrefix + '-hours'"
        type="text"
        spellcheck="false"
        [attr.aria-describedby]="hint ? idPrefix + '-hint' : null"
        [value]="hours ?? ''"
        (input)="onHoursInput($event)"
        (blur)="touch()"
        [disabled]="disabled"
      />
      <div
        class="govuk-input__suffix govuk-!-margin-right-3"
        aria-hidden="true"
      >
        HH
      </div>

      <!-- Minutes -->
      <input
        class="govuk-input govuk-input--width-2"
        [id]="idPrefix + '-minutes'"
        [name]="idPrefix + '-minutes'"
        type="text"
        spellcheck="false"
        [attr.aria-describedby]="hint ? idPrefix + '-hint' : null"
        [value]="minutes ?? ''"
        (input)="onMinutesInput($event)"
        (blur)="touch()"
        [disabled]="disabled"
      />
      <div
        class="govuk-input__suffix govuk-!-margin-right-3"
        aria-hidden="true"
      >
        MM
      </div>
    </div>
  </div>
</div>
