<div class="govuk-form-group" [class.govuk-form-group--error]="showFieldError">
  <label class="govuk-label" [attr.for]="id">{{ label }}</label>

  @if (showFieldError) {
    <p [id]="errorId" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ errorText }}
    </p>
  }

  <input
    class="govuk-input"
    [class.govuk-input--error]="showFieldError"
    [class.govuk-input--width-20]="widthClass === 'govuk-input--width-20'"
    [class.govuk-input--width-10]="widthClass === 'govuk-input--width-10'"
    [attr.id]="id"
    [attr.name]="name"
    type="tel"
    [attr.autocomplete]="autocomplete || 'tel'"
    [attr.aria-describedby]="showFieldError ? errorId : null"
    [formControl]="control"
    (blur)="markTouched()"
  />
</div>
