<div
  class="govuk-error-summary"
  role="alert"
  aria-labelledby="error-summary-title"
  data-module="govuk-error-summary"
  tabindex="-1"
  #summaryEl
>
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    {{ title || 'There is a problem' }}
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      @for (err of items; track $index) {
        <li>
          <a
            class="govuk-link"
            [href]="linkHrefFor(err)"
            (click)="onLinkClick($event, err)"
          >
            {{ err.text }}
          </a>
        </li>
      }
    </ul>
  </div>
</div>
