<app-breadcrumbs
  [items]="[{ label: 'Standard applicants', link: '/standard-applicants' }]"
/>

<h1 class="govuk-heading-xl">Standard applicant details</h1>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l">Applicant</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Code</dt>
        <dd class="govuk-summary-list__value">{{ code() }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Standard applicant name</dt>
        <dd class="govuk-summary-list__value">
          {{ summaryListValues.standardApplicantName }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Use from</dt>
        <dd class="govuk-summary-list__value">
          {{ summaryListValues.useFrom }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Use to</dt>
        <dd class="govuk-summary-list__value">{{ summaryListValues.useTo }}</dd>
      </div>
    </dl>
  </section>
</div>
