<!-- src/app/pages/login/login.component.html -->

<h1 class="govuk-heading-xl">Applications</h1>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
<form (ngSubmit)="onSubmit($event)">
  <div class="govuk-grid-row">
    <!-- Date -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="day-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">Date</h1>
          </legend>
          <div id="day-hint" class="govuk-hint">For example, 27 3 2007</div>
          <div class="govuk-date-input" id="day">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="day-day">Day</label>
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="day-day"
                  name="day-day"
                  type="text"
                  inputmode="numeric"
                />
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="day-month">Month</label>
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="day-month"
                  name="day-month"
                  type="text"
                  inputmode="numeric"
                />
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="day-year">Year</label>
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-4"
                  id="day-year"
                  name="day-year"
                  type="text"
                  inputmode="numeric"
                />
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <!-- Applicant Org -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="app-organisation">Applicant Org</label>
        </div>
        <div id="app-organisation-hint" class="govuk-hint">Enter the applicants organisation</div>
        <input class="govuk-input govuk-input--width-10" id="app-organisation" name="app-organisation" type="text" />
      </div>
    </div>

    <!-- Respondent Org -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="respondent-organisation">Respondent Org</label>
        </div>
        <div id="respondent-organisation-hint" class="govuk-hint">Enter the respondents organisation</div>
        <input
          class="govuk-input govuk-input--width-10"
          id="respondent-organisation"
          name="respondent-organisation"
          type="text"
        />
      </div>
    </div>

    <!-- Court -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="court">Court</label>
        </div>
        <div id="court-hint" class="govuk-hint">Enter a description of the court</div>
        <input class="govuk-input govuk-input--width-10" id="court" name="court" type="text" />
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <!-- Court -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="applicant">Applicant surname</label>
        </div>
        <div id="applicant-hint" class="govuk-hint">The applicants last name</div>
        <input class="govuk-input govuk-input--width-10" id="applicant" name="applicant" type="text" />
      </div>
    </div>

    <!-- Court -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="respondent">Respondent surname</label>
        </div>
        <div id="respondent-hint" class="govuk-hint">The respondent last name</div>
        <input class="govuk-input govuk-input--width-10" id="respondent" name="respondent" type="text" />
      </div>
    </div>

    <!-- Location Description -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="description">List other location</label>
        </div>
        <div id="description-hint" class="govuk-hint">Other location description</div>
        <input class="govuk-input govuk-input--width-10" id="description" name="description" type="text" />
      </div>
    </div>

    <!-- Location Standard -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="standard">Applicant code</label>
        </div>
        <div id="standard-hint" class="govuk-hint">The standard applicant code</div>
        <input class="govuk-input govuk-input--width-10" id="standard" name="standard" type="text" />
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <!-- Court -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="post-code">Post code</label>
        </div>
        <div id="post-code-hint" class="govuk-hint">Respondents post code</div>
        <input class="govuk-input govuk-input--width-10" id="post-code" name="post-code" type="text" />
      </div>
    </div>

    <!-- CJA -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cja">CJA</label>
        </div>
        <div id="cja-hint" class="govuk-hint">Criminal justice area</div>
        <input class="govuk-input govuk-input--width-10" id="cja" name="cja" type="text" />
      </div>
    </div>

    <!-- Status -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="status"> Select status </label>
        <div id="status-hint" class="govuk-hint">Status of the list</div>
        <select class="govuk-select" id="status" name="status" aria-describedby="status-hint">
          <option value="choose" selected>Choose status</option>
          <option value="eastmidlands">Open</option>
          <option value="eastofengland">Closed</option>
        </select>
      </div>
    </div>

    <!-- Account reference -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="account-reference">Account reference</label>
        </div>
        <div id="account-reference-hint" class="govuk-hint">The account reference code</div>
        <input class="govuk-input govuk-input--width-10" id="account-reference" name="account-reference" type="text" />
      </div>
    </div>
  </div>

  <div class="govuk-button-group">
    <button type="button" class="govuk-button">Search</button>
  </div>
</form>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<app-sortable-table [caption]="'Lists'" [columns]="columns" [data]="pagedData">
  <ng-template #actionsTemplate let-row>
    <div class="govuk-button-group">
      <a class="govuk-button" [routerLink]="['/applications', row.id]">Open</a>
      <button type="button" class="govuk-button govuk-button--secondary">Update</button>
    </div>
  </ng-template>
</app-sortable-table>

<!-- Pager -->
<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
</app-pagination>
