<h1 class="govuk-heading-xl">Applications</h1>

@if (vm().submitted && vm().searchErrors.length) {
  <app-error-summary
    [title]="'There is a problem'"
    [items]="vm().searchErrors"
    targetId="search"
  />
} @else {
  @if (vm().isSearch && !vm().isLoading && !vm().rows.length) {
    <app-notification-banner
      heading="No application list entries found"
      body="Try different filters"
    />
  }
}

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="govuk-grid-row">
    <!-- Date -->
    <app-date-input
      formControlName="date"
      label="Date"
      hint="For example, 27 3 2007"
      idPrefix="date"
      [submitted]="vm().submitted"
      [isSearch]="vm().isSearch"
    />

    <!-- Applicant Org -->
    <app-text-input
      formControlName="applicantOrg"
      label="Applicant Org"
      hint="Enter the applicants organisation"
      idPrefix="description"
    />

    <!-- Respondent Org -->
    <app-text-input
      formControlName="respondentOrg"
      label="Respondent Org"
      hint="Enter the respondents organisation"
      idPrefix="description"
    />

    <!-- Court -->
    <app-suggestions
      id="court"
      label="Court"
      hint="Enter a description of the court"
      [(search)]="state().courthouseSearch"
      (searchChange)="onCourthouseInputChange()"
      [suggestions]="state().filteredCourthouses"
      (selectItem)="selectCourthouse($event)"
      [disabled]="!!form.get('location')?.value || !!form.get('cja')?.value"
    />
  </div>

  <div class="govuk-grid-row">
    <!-- Applicant last name -->
    <app-text-input
      formControlName="applicantSurname"
      label="Applicant surname"
      hint="The applicants last name"
      idPrefix="description"
    />

    <!-- Respondent surname -->
    <app-text-input
      formControlName="respondentSurname"
      label="Respondent surname"
      hint="The respondent last name"
      idPrefix="description"
    />

    <!-- Location Description -->
    <app-text-input
      formControlName="location"
      label="List other location"
      hint="Other location description"
      idPrefix="description"
    />

    <!-- Applicant code -->
    <app-text-input
      formControlName="standardApplicantCode"
      label="Applicant code"
      hint="The standard applicant code"
      idPrefix="description"
    />
  </div>

  <div class="govuk-grid-row">
    <!-- Postcode -->
    <app-text-input
      formControlName="respondentPostcode"
      label="Post code"
      hint="Respondents post code"
      idPrefix="description"
    />

    <!-- CJA -->
    <app-suggestions
      id="cja"
      label="CJA"
      hint="Start typing to search"
      [(search)]="state().cjaSearch"
      (searchChange)="onCjaInputChange()"
      [suggestions]="state().filteredCja"
      (selectItem)="selectCja($event)"
      [disabled]="!!state().courthouseSearch || !!form.get('court')?.value"
    />

    <!-- Status -->
    <app-select-input
      formControlName="status"
      label="Select status"
      hint="Status of the application"
      idPrefix="status"
      [options]="status"
    />

    <!-- Account reference -->
    <app-text-input
      formControlName="accountReference"
      label="Account reference"
      hint="The account reference code"
      idPrefix="description"
    />
  </div>

  <div class="govuk-button-group">
    <button
      id="search"
      type="submit"
      class="govuk-button"
      value="search"
      [disabled]="searchDisabled"
    >
      Search
    </button>
    <button
      class="govuk-button govuk-button--secondary"
      type="button"
      data-module="govuk-button"
      (click)="clearSearch()"
    >
      Clear search
    </button>
  </div>
</form>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

@if (vm().rows.length) {
  <!-- Sortable table component -->
  <app-sortable-table
    [caption]="'Application list entries'"
    [columns]="columns"
    [data]="tableRows()"
    appMojButtonMenu
  >
    <ng-template #actionsTemplate let-row>
      <div
        class="moj-button-menu"
        data-module="moj-button-menu"
        data-button-text="Select"
        data-button-classes="govuk-button"
      >
        <!-- Open -->
        <!-- TODO: Currently there's not pages for just application so this route doesn't work. Need to create page for this -->
        <button
          type="button"
          class="govuk-button moj-button-menu__item govuk-button--secondary"
          [routerLink]="['/applications', row.id]"
        >
          Open
        </button>

        <!-- Update -->
        <!-- TODO: Currently there's not pages for just application so this route doesn't work. Need to create page for this -->
        <button
          type="button"
          class="govuk-button moj-button-menu__item govuk-button--secondary"
          [routerLink]="['/applications', row.id, 'update']"
        >
          Update
        </button>
      </div>
    </ng-template>
  </app-sortable-table>

  <!-- Pager -->
  <app-pagination
    [currentPage]="vm().currentPage"
    [totalPages]="vm().totalPages"
    (pageChange)="onPageChange($event)"
  />
} @else {
  @if (!vm().isLoading && vm().submitted && !vm().searchErrors.length) {
    <p class="govuk-body">No results found.</p>
  }
}
