<div class="govuk-grid-row" [formGroup]="form()">
  <div class="govuk-grid-column-one-quarter">
    <div
      class="govuk-form-group"
      [class.govuk-form-group--error]="isControlInvalid('caseReference')"
    >
      <label class="govuk-label govuk-label--m" for="caseReference"
        >Case reference</label
      >

      <div id="case-reference-hint" class="govuk-hint">
        Enter the unique case reference, for example CR-2025-00123
      </div>

      <!-- Case reference -->
      @if (isControlInvalid('caseReference')) {
        <p id="case-reference-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{ getControlErrorMessages('caseReference')[0] }}
        </p>
      }
      <input
        class="govuk-input govuk-input--width-10"
        [class.govuk-input--error]="isControlInvalid('caseReference')"
        id="caseReference"
        name="caseReference"
        type="text"
        formControlName="caseReference"
        [attr.aria-describedby]="
          'case-reference-hint' +
          (isControlInvalid('caseReference') ? ' case-reference-error' : '')
        "
      />
    </div>
  </div>

  <!-- Account reference -->
  <div class="govuk-grid-column-one-quarter">
    <div
      class="govuk-form-group"
      [class.govuk-form-group--error]="isControlInvalid('accountReference')"
    >
      <label class="govuk-label govuk-label--m" for="accountReference"
        >Account reference</label
      >

      <div id="account-reference-hint" class="govuk-hint">
        Enter the associated account reference, for example AC-987654
      </div>

      <!-- Case reference -->
      @if (isControlInvalid('accountReference')) {
        <p id="account-reference-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{ getControlErrorMessages('accountReference')[0] }}
        </p>
      }
      <input
        class="govuk-input govuk-input--width-10"
        [class.govuk-input--error]="isControlInvalid('accountReference')"
        id="accountReference"
        name="accountReference"
        type="text"
        formControlName="accountReference"
        [attr.aria-describedby]="
          'account-reference-hint' +
          (isControlInvalid('accountReference')
            ? ' account-reference-error'
            : '')
        "
      />
    </div>
  </div>
</div>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Application details -->
    <label class="govuk-label govuk-label--m" for="application-details">
      Application details
    </label>
    <div id="application-details-hint" class="govuk-hint">
      Provide any additional information about the application (for example
      special requirements or notes). Do not include sensitive personal data.
    </div>

    <app-govuk-textarea
      [control]="form().controls.notes"
      [id]="'application-details'"
      [name]="'applicationDetails'"
      [ariaDescribedBy]="'application-details-hint'"
      [rows]="5"
      [maxCharacterLimit]="4000"
      [characterCountEnabled]="true"
      [isInvalid]="
        form().controls.notes.invalid &&
        (form().controls.notes.dirty || form().controls.notes.touched)
      "
    />
  </div>
</div>
