<div class="govuk-grid-column-one-quarter">
  <div
    class="govuk-form-group"
    [ngClass]="{
      'govuk-form-group--error': submitted() && !value,
    }"
  >
    @if (label()) {
      <div class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" [for]="idPrefix()">
          {{ label() }}
        </label>
      </div>
    }

    @if (hint()) {
      <div [id]="idPrefix() + '-hint'" class="govuk-hint">
        {{ hint() }}
      </div>
    }

    @if (submitted() && !value) {
      <p [id]="idPrefix() + '-error'" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>
        {{ label() || 'This field' }} is required
      </p>
    }

    <select
      class="govuk-select"
      [ngClass]="submitted() && !value ? 'govuk-select--error' : ''"
      [id]="idPrefix()"
      [name]="idPrefix()"
      [attr.aria-describedby]="
        (
          (hint() ? idPrefix() + '-hint' : '') +
          ' ' +
          (submitted() && !value ? idPrefix() + '-error' : '')
        ).trim()
      "
      [disabled]="disabled"
      [value]="value ?? ''"
      (change)="handleChange($event)"
      (blur)="handleBlur()"
    >
      @for (o of options(); track o.value) {
        <option
          [value]="o.value"
          [selected]="o.value === (value ?? '')"
          [disabled]="o.disabled"
        >
          {{ o.label }}
        </option>
      }
    </select>
  </div>
</div>
