<div [class]="containerWidthClass()">
  <div
    class="govuk-form-group"
    [ngClass]="{
      'govuk-form-group--error': errorState,
    }"
  >
    @if (label()) {
      <div class="govuk-label-wrapper">
        <label class="govuk-label" [for]="idPrefix()">
          {{ label() }}
        </label>
      </div>
    }

    @if (hint()) {
      <div [id]="idPrefix() + '-hint'" class="govuk-hint">
        {{ hint() }}
      </div>
    }

    @if (errorState) {
      <p [id]="idPrefix() + '-error'" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>
        {{ error() || (label() || 'This field') + ' is required' }}
      </p>
    }

    <input
      class="govuk-input"
      [ngClass]="[widthClass(), errorState ? 'govuk-input--error' : '']"
      [id]="idPrefix()"
      [name]="idPrefix()"
      [attr.type]="inputType()"
      [attr.aria-describedby]="
        (
          (hint() ? idPrefix() + '-hint' : '') +
          ' ' +
          (errorState ? idPrefix() + '-error' : '')
        ).trim()
      "
      [value]="valueState()"
      (input)="onInput($event)"
      [disabled]="disabledState()"
      [attr.list]="listId() || null"
      [attr.maxlength]="charLimit() || null"
    />

    @if (listId()) {
      <datalist [id]="listId()">
        @for (s of suggestions(); track s?.value ?? s) {
          <option [value]="s?.value ?? s">{{ s?.label ?? s }}</option>
        }
      </datalist>
    }
  </div>
</div>
