<app-breadcrumbs
  [items]="[
    { label: 'Applications list', link: '/applications-list' },
    {
      label: 'Applications list details',
      link: '/applications-list/' + vm().listId,
    },
  ]"
/>

@if (vm().feeErrors.length) {
  <app-error-summary
    [title]="'There is a problem'"
    [items]="vm().feeErrors"
    [focusKey]="submitAttempt()"
    (itemSelect)="onCreateErrorClick($event)"
  />
}

@if (applictionsHaveBeenRemoved()) {
  <app-alert
    [alertType]="'information'"
    [message]="'Application(s) which do not require a fee have been removed'"
  />
}

<h1 class="govuk-heading-xl">Update fee details</h1>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with civil fee details
    </span>
  </summary>

  <div class="govuk-details__text">
    <p class="govuk-body">
      Civil fee details record whether an application fee is due, paid, remitted
      or covered by an undertaking.
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Due means the fee still needs to be paid or resolved.</li>
      <li>
        Paid means the fee has been paid in full. You can add a payment
        reference if needed.
      </li>
      <li>
        Remitted means the court has waived the fee, for example through Help
        with Fees.
      </li>
      <li>
        Undertaking means the applicant has formally agreed to pay later. The
        list cannot be closed until this is updated to Paid.
      </li>
      <li>
        Applications that do not need a fee show No fee required and the fee
        fields cannot be changed.
      </li>
      <li>
        Select Off-site fee if an additional fee applies because a magistrate
        attended a location away from court premises.
      </li>
    </ul>
  </div>
</details>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<app-sortable-table
  id="entry-selected-table"
  [caption]="'Updating fees for the following application(s)'"
  [columns]="columnsEntries"
  [data]="vm().selectedEntries"
  appMojButtonMenu
/>

<hr class="govuk-section-break govuk-section-break--m" />

<app-civil-fee-section
  #civilFeeSection
  [noFeeMeta]="true"
  [feeForm]="civilFeeForm"
  [civilFeeColumns]="civilFeeColumns"
  [feeStatusOptions]="feeStatusOptions"
  [feeMeta]="feeMeta"
  [feeRequired]="true"
  [parentSubmitted]="vm().submitted"
  [informationText]="informationText()"
  [changePaymentReferenceStateFactory]="buildChangePaymentReferenceState"
  (addFeeDetails)="onAddFeeDetails($event)"
  (civilFeeErrors)="onCivilFeeErrors($event)"
  (submitAttempted)="onCivilFeeSubmitAttempt()"
  (offsiteFeeChanged)="onOffsiteFeeChanged($event)"
/>

<button
  type="button"
  class="govuk-button"
  (click)="addFees()"
  [disabled]="disableUpdateButton()"
>
  Update fee details
</button>
