<app-breadcrumbs
  [items]="[
    { label: 'Applications list', link: '/applications-list' },
    {
      label: 'Applications list details',
      link: '/applications-list/' + vm().listId,
    },
  ]"
/>

<h1 class="govuk-heading-xl">Update fee details</h1>

@if (vm().feeErrors.length) {
  <app-error-summary
    [title]="'There is a problem'"
    [items]="vm().feeErrors"
    targetId="entry-selected-table"
    (itemSelect)="onCreateErrorClick($event)"
  />
}

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<app-sortable-table
  id="entry-selected-table"
  [caption]="'Updating fees for the following application(s)'"
  [columns]="columnsEntries"
  [data]="vm().selectedEntries"
  appMojButtonMenu
/>
