<form [formGroup]="form">
  <p class="govuk-body">
    @for (t of tokens; track $index) {
      @if (t.type == 'text') {
        {{ t.value }}&nbsp;
      } @else if (t.type == 'input') {
        <input
          [id]="t.key"
          class="govuk-input govuk-input--width-10"
          [class.govuk-input--error]="form.get(t.key)?.invalid && submitted()"
          [formControlName]="t.key"
          type="text"
          name="width10"
          [placeholder]="'Enter a ' + t.key"
        />&nbsp;
      }
    }
  </p>
  @if (isSaveDisabled()) {
    <button
      class="govuk-button"
      data-module="govuk-button"
      (click)="submitWordingFields()"
    >
      Save Wording
    </button>
  }
</form>
