<app-warning-banner
  message="You are about to delete this Application List and all of the Application List Entries. This action cannot be undone."
/>

<app-review-confirm
  (confirm)="onDelete()"
  (cancelled)="goBack()"
  confirmButtonTxt="Yes - delete"
  title="Are you sure you want to delete this application list?"
>
  <app-table [rows]="[listToDelete]" [columns]="columns">
    <ng-template #dateTemplate let-row>
      {{ row.date | dateTime }}
    </ng-template>
  </app-table>
</app-review-confirm>
