<div [formGroup]="group()">
  <!-- Magistrate 1 -->
  <fieldset class="govuk-fieldset">
    <h3 class="govuk-heading-s">Magistrate 1</h3>

    <div class="govuk-grid-row">
      <app-select-input
        formControlName="mags1Title"
        label="Select magistrate’s title"
        idPrefix="mags1-title"
        [options]="titleOptions()"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="mags1FirstName"
        label="Magistrate’s first name"
        idPrefix="mags1-first-name"
        widthClass="govuk-!-width-full"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="mags1Surname"
        label="Magistrate’s surname"
        idPrefix="mags1-surname"
        widthClass="govuk-!-width-full"
      />
    </div>
  </fieldset>

  <hr
    class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
  />

  <!-- Magistrate 2 -->
  <fieldset class="govuk-fieldset">
    <h3 class="govuk-heading-s">Magistrate 2</h3>

    <div class="govuk-grid-row">
      <app-select-input
        formControlName="mags2Title"
        label="Select magistrate’s title"
        idPrefix="mags2-title"
        [options]="titleOptions()"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="mags2FirstName"
        label="Magistrate’s first name"
        idPrefix="mags2-first-name"
        widthClass="govuk-!-width-full"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="mags2Surname"
        label="Magistrate’s surname"
        idPrefix="mags2-surname"
        widthClass="govuk-!-width-full"
      />
    </div>
  </fieldset>

  <hr
    class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
  />

  <!-- Magistrate 3 -->
  <fieldset class="govuk-fieldset">
    <h3 class="govuk-heading-s">Magistrate 3</h3>

    <div class="govuk-grid-row">
      <app-select-input
        formControlName="mags3Title"
        label="Select magistrate’s title"
        idPrefix="mags3-title"
        [options]="titleOptions()"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="mags3FirstName"
        label="Magistrate’s first name"
        idPrefix="mags3-first-name"
        widthClass="govuk-!-width-full"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="mags3Surname"
        label="Magistrate’s surname"
        idPrefix="mags3-surname"
        widthClass="govuk-!-width-full"
      />
    </div>
  </fieldset>

  <hr
    class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
  />

  <fieldset class="govuk-fieldset">
    <h2 class="govuk-heading-s">Officials</h2>

    <div class="govuk-grid-row">
      <app-select-input
        formControlName="officialTitle"
        label="Select court official’s title"
        idPrefix="official-title"
        [options]="titleOptions()"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="officialFirstName"
        label="Official’s first name"
        idPrefix="official-first-name"
        widthClass="govuk-!-width-full"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="officialSurname"
        label="Official’s surname"
        idPrefix="official-surname"
        widthClass="govuk-!-width-full"
      />
    </div>
  </fieldset>

  <div class="govuk-button-group">
    <button type="button" class="govuk-button" (click)="onSaveOfficials()">
      Save Recording Officials
    </button>
  </div>
</div>
