<div [formGroup]="form()">
  <div class="govuk-grid-row">
    <app-select-input
      formControlName="applicantType"
      label="Select applicant type"
      idPrefix="application-entry-type"
      [options]="entryTypeOptions()"
    ></app-select-input>
  </div>

  <hr
    class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
  />

  @switch (applicantType()) {
    @case ('person') {
      <app-person-section
        scopeId="applicant"
        [group]="personGroup()"
        [titleOptions]="personTitleOptions"
        [submitted]="submitted()"
        [errors]="errorItems()"
      />
    }
    @case ('org') {
      <app-organisation-section
        scopeId="applicant"
        [group]="organisationGroup()"
        [submitted]="submitted()"
        [errors]="errorItems()"
      />
    }
    @case ('standard') {
      @if (currentSelectionSummary(); as summary) {
        <p class="govuk-body govuk-!-margin-bottom-4">
          <strong class="govuk-tag govuk-tag--turquoise govuk-!-margin-right-2">
            Currently selected
          </strong>
          <span class="govuk-body govuk-!-font-weight-bold">{{
            summary.displayText
          }}</span>
        </p>
      }

      @if (standardApplicantSummary(); as summary) {
        <p class="govuk-body govuk-!-margin-bottom-4">
          <strong class="govuk-tag govuk-tag--blue govuk-!-margin-right-2">
            Saved
          </strong>
          <span class="govuk-body govuk-!-font-weight-bold">{{
            summary.displayText
          }}</span>
        </p>
      }

      <app-standard-applicant-select
        [selectedCode]="selectedStandardApplicantCode()"
        (selectedCodeChange)="onStandardChanged($event)"
        (selectedApplicantSummaryChange)="
          onSelectedStandardApplicantSummaryChanged($event)
        "
        (searchErrorsChange)="onStandardApplicantErrorsChanged($event)"
      />
    }
  }

  @if (showUpdateButton()) {
    <button
      type="button"
      class="govuk-button"
      id="btn-update-applicant"
      [attr.data-applicant-type]="applicantType()"
      [disabled]="isUpdateDisabled()"
      (click)="onUpdateClicked()"
    >
      {{ updateButtonText() }}
    </button>
  }
</div>
