<h1 class="govuk-heading-l">List maintenance</h1>

<!-- Bind this sub-form to the nested FormGroup provided by the parent -->
<div class="govuk-grid-row" [formGroup]="group">
  <!-- Date from -->
  <app-date-input
    formControlName="dateFrom"
    label="Date from"
    hint="For example, 27 3 2007"
    idPrefix="list-date-from"
  >
  </app-date-input>

  <!-- Date to -->
  <app-date-input
    formControlName="dateTo"
    label="Date to"
    hint="For example, 27 3 2007"
    idPrefix="list-date-to"
  >
  </app-date-input>

  <!-- Description -->
  <app-text-input
    formControlName="description"
    label="Description"
    hint="Enter a brief description of the list"
    idPrefix="list-description"
  >
  </app-text-input>

  <!-- Court -->
  <app-text-input
    formControlName="court"
    label="Court"
    hint="Enter the full official name of the court"
    idPrefix="list-court"
  >
  </app-text-input>
</div>

<div class="govuk-grid-row" [formGroup]="group">
  <!-- Other location -->
  <app-text-input
    formControlName="otherLocation"
    label="Other location"
    hint="Enter an alternative location"
    idPrefix="list-other-location"
  >
  </app-text-input>

  <!-- CJA -->
  <app-text-input
    formControlName="cja"
    label="CJA"
    hint="Criminal justice area code"
    idPrefix="list-cja"
  >
  </app-text-input>
</div>
