<h1 class="govuk-heading-l">List maintenance</h1>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<!-- Bind this sub-form to the nested FormGroup provided by the parent -->
<app-reports-shared-form
  [group]="group()"
  [suggestions]="suggestions()"
  [submitted]="submitted()"
  [getError]="getError()"
/>

<div [formGroup]="group()">
  <!-- Description -->
  <div class="govuk-grid-row">
    <app-text-input
      formControlName="description"
      label="Description"
      idPrefix="list-description"
      containerWidthClass="govuk-grid-column-one-half"
      widthClass="govuk-!-width-two-thirds"
    />
  </div>
</div>
