<a [routerLink]="['/applications-list']" class="govuk-back-link"
  >Back to Applications List</a
>
<h1 class="govuk-heading-xl">Create new applications list</h1>

<p class="govuk-body-l">
  Please fill in all the required fields.<br /><br />
  Ensure that you either provide either Court OR Location AND CJA, not both.
</p>

<!-- Error Summary -->
@if (createInvalid) {
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">{{ errorHint }}</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          @if (createInvalid) {
            @for (c of unpopField; track c) {
              <li>{{ c }}</li>
            }
          }
        </ul>
      </div>
    </div>
  </div>
}

<!-- TODO: only create if POST req is successful -->
@if (createDone) {
  <div
    class="govuk-notification-banner govuk-notification-banner--success"
    role="alert"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner"
  >
    <div class="govuk-notification-banner__header">
      <h2
        class="govuk-notification-banner__title"
        id="govuk-notification-banner-title"
      >
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        Applications list successfully created
      </h3>
      <p class="govuk-body">
        <a
          class="govuk-notification-banner__link"
          [routerLink]="['/applications-list']"
          >Click here to go back</a
        >
      </p>
    </div>
  </div>
}

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
<form [formGroup]="form" (ngSubmit)="onSubmit($event)" autocomplete="off">
  <div class="govuk-grid-row">
    <!-- Date -->
    <app-date-input
      formControlName="date"
      label="Date"
      hint="For example, 27 3 2007"
      idPrefix="date"
    >
    </app-date-input>

    <!-- Time -->
    <app-duration-input
      formControlName="time"
      label="Time"
      hint="Enter the time in 24-hour format, for example 08:30"
      idPrefix="time"
    >
    </app-duration-input>

    <!-- Description -->
    <app-text-input
      formControlName="description"
      label="Description"
      hint="A description of the application list"
      idPrefix="description"
    >
    </app-text-input>

    <!-- Status -->
    <app-select-input
      formControlName="status"
      label="Select status"
      hint="The status of the application list"
      idPrefix="status"
      [options]="[
        { value: 'choose', label: 'Choose status' },
        { value: 'open', label: 'Open' },
        { value: 'closed', label: 'Closed' },
      ]"
    >
    </app-select-input>
  </div>

  <div class="govuk-grid-row">
    <!-- Court -->
    <app-text-input
      formControlName="court"
      label="Court"
      hint="Start typing to filter courts"
      idPrefix="court"
    >
      >
    </app-text-input>

    <!-- Other location -->
    <app-text-input
      formControlName="location"
      label="Other location"
      hint="Other location description"
      idPrefix="location"
    >
    </app-text-input>

    <!-- CJA -->
    <app-text-input
      formControlName="cja"
      label="CJA"
      hint="Criminal justice area"
      idPrefix="cja"
    >
    </app-text-input>
  </div>

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" value="create">Create</button>
  </div>
</form>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
