.float-right {
  float: right;
}

.govuk-table__caption--m {
  margin-bottom: 0;
}

:host ::ng-deep #noEntries .govuk-notification-banner {
  margin-bottom: 0;
}

.app-table-scroll {
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 50px; /* Prevent vertical scrollbar on single records */
}

.app-table-scroll .govuk-table {
  margin-bottom: 0;
}
.app-table-scroll .moj-button-menu {
  position: relative;
}
