<!-- Breadcrumbs -->
<app-breadcrumbs
  [items]="[{ label: 'Applications list', link: '/applications-list' }]"
></app-breadcrumbs>

<app-page-header
  title="Applications List"
  [actions]="[
    {
      label: 'Create application',
      routerLink: ['create'],
      startIcon: true,
      variant: 'primary',
    },
  ]"
>
</app-page-header>

@if (vm().errorSummary.length || vm().updateInvalid) {
  <app-error-summary
    [title]="vm().errorHint || 'There is a problem'"
    (itemSelect)="onCreateErrorClick($event)"
    [items]="vm().errorSummary"
  />
}

@if (vm().updateDone) {
  <app-success-banner
    heading="Update complete"
    linkText="List successfully updated"
  />
}

<!-- Tabs -->
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">Contents</h2>

  <ul class="govuk-tabs__list">
    <!-- Applications tab -->
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a
        class="govuk-tabs__tab"
        href="#applications"
        id="tab_applications"
        aria-controls="applications"
        aria-selected="true"
        (click)="onTabSelected('applications')"
      >
        Applications
      </a>
    </li>

    <!-- List details tab -->
    <li class="govuk-tabs__list-item">
      <a
        class="govuk-tabs__tab"
        href="#list-details"
        id="tab_list-details"
        role="tab"
        aria-controls="list-details"
        aria-selected="false"
        (click)="onTabSelected('list-details')"
      >
        List details
      </a>
    </li>
  </ul>

  <!-- Applications panel -->
  <div
    class="govuk-tabs__panel"
    id="applications"
    role="tabpanel"
    aria-labelledby="tab_applications"
  >
    <app-page-header
      title="Applications"
      size="l"
      [actions]="[
        {
          label: 'Bulk upload',
          variant: 'secondary',
          routerLink: ['bulk-upload'],
        },
      ]"
    >
    </app-page-header>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    @if (!noEntries && !vm().isLoading) {
      <div class="app-table-scroll">
        <!-- Sortable table component -->
        <app-selectable-sortable-table
          id="sortable-table"
          caption="Lists"
          [columns]="columns"
          [data]="vm().rows"
          idField="id"
          (selectedRowsChange)="onSelectedRowsChange($event)"
          [(selectedIds)]="vm().selectedIds"
          appMojButtonMenu
        >
          <caption
            class="govuk-table__caption govuk-table__caption--m"
            id="sortable-Lists"
          >
            <span class="table-caption__text"> Lists </span>

            <span
              class="table-caption__actions"
              role="group"
              aria-label="Table actions"
            >
              <button
                type="button"
                class="govuk-button govuk-button--primary govuk-button--small float-right"
                [disabled]="vm().selectedRows.length === 0"
                (click)="onResultButtonClick()"
              >
                Result selected
              </button>
            </span>
          </caption>
          <!-- actions slot -->
          <ng-template #actionsTemplate let-row>
            <div
              class="moj-button-menu"
              data-module="moj-button-menu"
              data-button-text="Select"
              data-button-classes="govuk-button"
            >
              <!-- Open button -->
              <button
                type="button"
                class="govuk-button moj-button-menu__item govuk-button--secondary"
                (click)="openUpdate(row)"
              >
                Open
              </button>

              <!-- Delete button -->
              <button
                type="button"
                class="govuk-button moj-button-menu__item govuk-button--secondary"
              >
                Delete
              </button>
            </div>
          </ng-template>
        </app-selectable-sortable-table>
      </div>
    } @else if (noEntries && !vm().isLoading) {
      <app-notification-banner
        id="noEntries"
        heading="No lists entries found"
        body="Try again, or "
        linkText="create a new list entry"
        [linkCommands]="['/applications-list', id, 'create']"
      />
    }

    <!-- Pager -->
    <app-pagination
      [currentPage]="vm().currentPage"
      [totalPages]="vm().totalPages"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>

  <!-- List details panel -->
  <div
    class="govuk-tabs__panel govuk-tabs__panel--hidden"
    id="list-details"
    role="tabpanel"
    aria-labelledby="tab_list-details"
  >
    <app-applications-list-update
      [form]="form"
      [vm]="vm()"
      [statusOptions]="statusOptions"
      [placeState]="state()"
      [id]="id"
      [etag]="etag"
      [entryIds]="vm().allEntryIds"
      [patchState]="patchStateFn"
      [setUpdateRequest]="setUpdateRequestFn"
      (requestAllEntryIds)="onRequestAllEntryIds()"
      [suggestionsFacade]="suggestionsFacade"
    />
  </div>
</div>
