<!-- Breadcrumbs -->
<app-breadcrumbs
  [items]="[{ label: 'Applications list', link: '/applications-list' }]"
></app-breadcrumbs>

<h1 class="govuk-heading-xl">Applications list</h1>

@if (unpopField.length || updateInvalid) {
  <app-error-summary
    [title]="errorHint || 'There is a problem'"
    (itemSelect)="onCreateErrorClick($event)"
    [items]="unpopField"
  />
}

@if (updateDone) {
  <app-success-banner
    heading="Update complete"
    linkText="List successfully updated"
  />
}

<!-- Tabs -->
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">Contents</h2>

  <ul class="govuk-tabs__list" role="tablist">
    <!-- Applications tab -->
    <li
      class="govuk-tabs__list-item govuk-tabs__list-item--selected"
      role="presentation"
    >
      <a
        class="govuk-tabs__tab"
        href="#applications"
        id="tab_applications"
        role="tab"
        aria-controls="applications"
        aria-selected="true"
      >
        Applications
      </a>
    </li>

    <!-- List details tab -->
    <li class="govuk-tabs__list-item" role="presentation">
      <a
        class="govuk-tabs__tab"
        href="#list-details"
        id="tab_list-details"
        role="tab"
        aria-controls="list-details"
        aria-selected="false"
      >
        List details
      </a>
    </li>
  </ul>

  <!-- Applications panel -->
  <div
    class="govuk-tabs__panel"
    id="applications"
    role="tabpanel"
    aria-labelledby="tab_applications"
  >
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Applications</h1>
      </div>
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-group moj-button-group--inline">
          <button type="button" class="govuk-button">Create</button>
          <button type="button" class="govuk-button govuk-button--secondary">
            Bulk upload
          </button>
        </div>
      </div>
    </div>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <!-- Sortable table component -->
    <app-sortable-table caption="Lists" [columns]="columns">
      <!-- actions slot -->
      <ng-template #actionsTemplate let-row>
        <div class="govuk-button-group">
          <a class="govuk-button govuk-button--secondary"> Open </a>
          <button type="button" class="govuk-button govuk-button--warning">
            Delete
          </button>
        </div>
      </ng-template>
    </app-sortable-table>

    <!-- Pager -->
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>

  <!-- List details panel -->
  <div
    class="govuk-tabs__panel govuk-tabs__panel--hidden"
    id="list-details"
    role="tabpanel"
    aria-labelledby="tab_list-details"
  >
    <h2 class="govuk-heading-l">List details</h2>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <form [formGroup]="form" (ngSubmit)="onUpdate()" autocomplete="off">
      <div class="govuk-grid-row">
        <!-- Date -->
        <app-date-input
          formControlName="date"
          label="Date"
          hint="For example, 27 3 2007"
          idPrefix="date"
          [submitted]="updateInvalid"
        >
        </app-date-input>

        <!-- Time -->
        <app-duration-input
          formControlName="time"
          label="Time"
          hint="Enter the time in 24-hour format, for example 08:30"
          idPrefix="time"
          [submitted]="updateInvalid"
          [required]="true"
          mode="clock"
        >
        </app-duration-input>

        <!-- Description -->
        <app-text-input
          formControlName="description"
          label="Description"
          hint="A description of the application list"
          idPrefix="description"
          [submitted]="updateInvalid"
        >
        </app-text-input>

        <!-- Status -->
        <app-select-input
          formControlName="status"
          label="Select status"
          hint="The status of the application list"
          idPrefix="status"
          [submitted]="updateInvalid"
          [options]="statusOptions"
        >
        </app-select-input>
      </div>

      <div class="govuk-grid-row">
        <!-- Court -->
        <app-suggestions
          id="court"
          label="Court"
          hint="Start typing to search"
          [(search)]="courthouseSearch"
          (searchChange)="onCourthouseInputChange()"
          [suggestions]="filteredCourthouses"
          (selectItem)="selectCourthouse($event)"
          [disabled]="!!form.get('location')?.value || !!form.get('cja')?.value"
          [showError]="
            updateInvalid &&
            !courthouseSearch.trim() &&
            !(
              form.get('location')?.value?.toString()?.trim() ||
              cjaSearch.trim()
            )
          "
          errorText="Court is required"
        />

        <!-- Other location -->
        <app-text-input
          formControlName="location"
          label="Other location"
          hint="Other location description"
          idPrefix="location"
          [submitted]="updateInvalid && !form.get('court')?.value"
        >
          >
        </app-text-input>

        <!-- CJA -->
        <app-suggestions
          id="cja"
          label="CJA"
          hint="Start typing to search"
          [(search)]="cjaSearch"
          (searchChange)="onCjaInputChange()"
          [suggestions]="filteredCja"
          (selectItem)="selectCja($event)"
          [disabled]="!!courthouseSearch.trim() || !!form.get('court')?.value"
          [showError]="
            updateInvalid &&
            !cjaSearch.trim() &&
            !(
              courthouseSearch.trim() ||
              form.get('court')?.value?.toString()?.trim()
            )
          "
          errorText="CJA is required"
        />

        <!-- Duration: Optional field -->
        <app-duration-input
          formControlName="duration"
          label="Duration"
          hint="Duration of the list"
          idPrefix="duration"
          [submitted]="updateInvalid"
          [required]="false"
          mode="duration"
        ></app-duration-input>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">Update</button>
      </div>
    </form>
  </div>
</div>
