<h1 class="govuk-heading-xl">Applications list</h1>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<form #listForm="ngForm" (ngSubmit)="onSubmit($event)">
  <div class="govuk-grid-row">
    <!-- Date -->
    <app-date-input
      formControlName=""
      label="Date"
      hint="For example, 27 3 2007"
      idPrefix="date">
    </app-date-input>

    <!-- Time -->
    <app-text-input
      formControlName="time"
      label="Time"
      hint="Enter the time in 24-hour format, for example 08:30"
      idPrefix="time">
    </app-text-input>

    <!-- Description -->
    <app-text-input
      formControlName="description"
      label="Description"
      hint="A description of the application list"
      idPrefix="description">
    </app-text-input>

    <!-- Status -->
    <app-select-input
      name="status"
      [(ngModel)]="selectedStatus"
      label="Select status"
      hint="The status of the application list"
      idPrefix="status"
      [options]="[
      {value: 'choose', label: 'Choose status'},
      {value: 'open',   label: 'Open'},
      {value: 'closed', label: 'Closed'}
    ]">
    </app-select-input>
  </div>

  <div class="govuk-grid-row">
    <!-- Court -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="court">Court</label>
        </div>
        <div id="court-hint" class="govuk-hint">A description of the court</div>
        <input
          class="govuk-input govuk-input--width-10"
          id="court"
          name="court"
          type="text"
        />
      </div>
    </div>

    <!-- Other location -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="location">Other location</label>
        </div>
        <div id="location-hint" class="govuk-hint">Other location description</div>
        <input
          class="govuk-input govuk-input--width-10"
          id="location"
          name="location"
          type="text"
        />
      </div>
    </div>

    <!-- CJA -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cja">CJA</label>
        </div>
        <div id="cja-hint" class="govuk-hint">Criminal justice area</div>
        <input
          class="govuk-input govuk-input--width-10"
          id="cja"
          name="cja"
          type="text"
        />
      </div>
    </div>
  </div>

  <div class="govuk-button-group">
    <button type="button" class="govuk-button">Search</button>
    <button type="button" class="govuk-button govuk-button--secondary">Create</button>
  </div>
</form>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Lists</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Date</th>
    <th scope="col" class="govuk-table__header">Time</th>
    <th scope="col" class="govuk-table__header">Location</th>
    <th scope="col" class="govuk-table__header">Description</th>
    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Entries</th>
    <th scope="col" class="govuk-table__header">Status</th>
    <th scope="col" class="govuk-table__header">Actions</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row" *ngFor="let list of lists">
    <th scope="row" class="govuk-table__header">{{ list.date }}</th>
    <td class="govuk-table__cell">{{ list.time }}</td>
    <td class="govuk-table__cell">{{ list.courthouse?.name || 'N/A' }}</td>
    <td class="govuk-table__cell">{{ list.description }}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">TODO</td>
    <td class="govuk-table__cell">{{ list.status }}</td>
    <td class="govuk-table__cell">
      <div class="govuk-button-group">
        <a
          [routerLink]="['/applications-list', list.id]"
          class="govuk-button govuk-button--secondary"
        >
          Open
        </a>
        <button
          type="button"
          class="govuk-button govuk-button--warning"
          (click)="onDelete(list.id)"
        >
          Delete
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13"
           width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path
          d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
        1
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
           width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path
          d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>


