<app-page-header
  title="Applications List"
  [actions]="[
    {
      label: 'Create application',
      routerLink: ['create'],
      startIcon: true,
      variant: 'primary',
    },
  ]"
>
</app-page-header>

@if (submitted && searchErrors.length) {
  <app-error-summary
    [title]="'There is a problem'"
    [items]="searchErrors"
    targetId="search"
  />
} @else {
  @if (isSearch && !isLoading && !rows.length) {
    <app-notification-banner
      heading="No lists found"
      body="Try different filters, or "
      linkText="create a new list"
      [linkCommands]="['/applications-list/create']"
    >
    </app-notification-banner>
  }
}

@if (deleteInvalid && errorSummary.length) {
  <app-error-summary
    [title]="'There is a problem'"
    [items]="errorSummary"
    targetId="sortable-table"
  />
}

@if (deleteDone) {
  <app-success-banner
    heading="Application List deleted successfully"
    body="If you believe this was in error, please contact support."
  />
}

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="govuk-grid-row">
    <!-- Date -->
    <app-date-input
      formControlName="date"
      label="Date"
      hint="For example, 27 3 2007"
      idPrefix="date"
      [submitted]="submitted"
      [isSearch]="isSearch"
    >
    </app-date-input>

    <!-- Time -->
    <app-duration-input
      formControlName="time"
      label="Time"
      hint="Enter the time in 24-hour format, for example 08:30"
      idPrefix="time"
      [submitted]="submitted"
      [required]="false"
    >
    </app-duration-input>

    <!-- Description -->
    <app-text-input
      formControlName="description"
      label="Description"
      hint="A description of the application list"
      idPrefix="description"
    >
    </app-text-input>

    <!-- Status -->
    <app-select-input
      formControlName="status"
      label="Select status"
      hint="The status of the application list"
      idPrefix="status"
      [options]="status"
    >
    </app-select-input>
  </div>

  <div class="govuk-grid-row">
    <!-- Court -->
    <app-suggestions
      id="court"
      label="Court"
      hint="Start typing to search"
      [(search)]="courthouseSearch"
      (searchChange)="onCourthouseInputChange()"
      [suggestions]="filteredCourthouses"
      (selectItem)="selectCourthouse($event)"
      [disabled]="!!form.get('location')?.value || !!form.get('cja')?.value"
    />

    <!-- Other location -->
    <app-text-input
      formControlName="location"
      label="Other location"
      hint="Other location description"
      idPrefix="location"
    >
    </app-text-input>

    <!-- CJA -->
    <app-suggestions
      id="cja"
      label="CJA"
      hint="Start typing to search"
      [(search)]="cjaSearch"
      (searchChange)="onCjaInputChange()"
      [suggestions]="filteredCja"
      (selectItem)="selectCja($event)"
      [disabled]="!!courthouseSearch.trim() || !!form.get('court')?.value"
    />
  </div>

  <div class="govuk-button-group">
    <button id="search" type="submit" class="govuk-button" value="search">
      Search
    </button>
  </div>
</form>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

@if (rows.length) {
  <!-- Sortable table component -->
  <app-sortable-table
    id="sortable-table"
    caption="Lists"
    [columns]="columns"
    [data]="rows"
    appMojButtonMenu
  >
    <ng-template #actionsTemplate let-row>
      <div class="govuk-button-group">
        <!-- actions slot -->
        @if (isOpen(row)) {
          <div
            class="moj-button-menu"
            data-module="moj-button-menu"
            data-button-text="Select"
            data-button-classes="govuk-button"
          >
            <!-- Open button (only when open) -->
            <button
              type="button"
              class="govuk-button moj-button-menu__item govuk-button--secondary"
              [routerLink]="['/applications-list', row.id]"
              [state]="{
                row: {
                  id: row.id,
                },
              }"
            >
              Open
            </button>

            <!-- Print page button (always shown) -->
            <button
              type="button"
              class="govuk-button moj-button-menu__item govuk-button--secondary"
              (click)="onPrintPage(row.id)"
            >
              Print page
            </button>

            <!-- Print continuous button (always shown) -->
            <button
              type="button"
              class="govuk-button moj-button-menu__item govuk-button--secondary"
              (click)="onPrintContinuous(row.id)"
            >
              Print continuous
            </button>

            <!-- Delete button (only when open) -->
            <button
              type="button"
              class="govuk-button moj-button-menu__item govuk-button--warning"
              (click)="onDelete(row)"
            >
              Delete
            </button>
          </div>
        } @else {
          <div
            class="moj-button-menu"
            data-module="moj-button-menu"
            data-button-text="Select"
            data-button-classes="govuk-button"
          >
            <!-- Print page button (always shown) -->
            <button
              type="button"
              class="govuk-button moj-button-menu__item govuk-button--secondary"
              (click)="onPrintPage(row.id)"
            >
              Print page
            </button>

            <!-- Print continuous button (always shown) -->
            <button
              type="button"
              class="govuk-button moj-button-menu__item govuk-button--secondary"
              (click)="onPrintContinuous(row.id)"
            >
              Print continuous
            </button>
          </div>
        }
      </div>
    </ng-template>
  </app-sortable-table>

  <!-- Pager -->
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
}
