.summary-card-action--compact {
  .govuk-summary-card {
    margin-bottom: 20px;
  }

  .govuk-summary-card__title-wrapper {
    padding: 8px 10px;
  }

  .govuk-summary-card__content {
    padding: 8px 10px;
  }

  .govuk-summary-list__key {
    width: 15%;
  }
}
