<div [class]="containerWidthClass()">
  <div
    class="govuk-form-group"
    [ngClass]="{ 'govuk-form-group--error': showError() }"
  >
    <div class="govuk-label-wrapper">
      <label class="govuk-label" [id]="id() + '-label'" [for]="id()">{{
        label()
      }}</label>
    </div>

    @if (hint()) {
      <div [id]="id() + '-hint'" class="govuk-hint">{{ hint() }}</div>
    }

    @if (showError()) {
      <p [id]="id() + '-error'" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ errorText() }}
      </p>
    }

    <div class="app-autocomplete" (focusout)="onFocusOut($event)">
      <input
        class="govuk-input"
        [ngClass]="[widthClass(), showError() ? 'govuk-input--error' : '']"
        [id]="id()"
        [name]="id()"
        type="text"
        [disabled]="disabledState()"
        [value]="searchState()"
        (focus)="onFocus()"
        (click)="onClick()"
        (keydown)="onKeydown($event)"
        (blur)="onBlur($event)"
        (input)="onNativeInput($event)"
        [attr.aria-describedby]="
          (hint() ? id() + '-hint ' : '') + (showError() ? id() + '-error' : '')
        "
        [attr.aria-labelledby]="id() + '-label'"
        role="combobox"
        aria-autocomplete="list"
        aria-haspopup="listbox"
        [attr.aria-expanded]="open"
        [attr.aria-controls]="open ? listboxId : null"
        [attr.aria-activedescendant]="
          open && activeIndex() >= 0 ? optionId(activeIndex()) : null
        "
        autocomplete="off"
      />

      @if (open) {
        <div
          [id]="listboxId"
          class="govuk-list app-autocomplete__menu"
          role="listbox"
          [attr.aria-labelledby]="id() + '-label'"
        >
          @for (item of visibleSuggestions; track item; let index = $index) {
            <div
              [id]="optionId(index)"
              class="app-autocomplete__link"
              [class.app-autocomplete__link--active]="activeIndex() === index"
              role="option"
              tabindex="-1"
              [attr.aria-selected]="activeIndex() === index"
              (mousedown)="onOptionMouseDown($event)"
              (click)="choose(item, $event)"
              (keydown)="onKeydown($event)"
            >
              {{ labelFor(item) }}
            </div>
          }
        </div>
      } @else if (noResultsVisible) {
        <ul [id]="listboxId" class="govuk-list app-autocomplete__menu">
          <li>
            <output
              [id]="statusId"
              class="app-autocomplete__link"
              aria-live="polite"
            >
              No results found
            </output>
          </li>
        </ul>
      }
    </div>
  </div>
</div>
