<h1 class="govuk-heading-xl">Standard applications</h1>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
<form (ngSubmit)="onSubmit($event)">
  <div class="govuk-grid-row">
    <!-- Code -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="code">Code</label>
        </div>
        <div id="code-hint" class="govuk-hint">Application code</div>
        <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text" />
      </div>
    </div>

    <!-- Applicant -->
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-form-group">
        <div class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="applicant">Applicant name</label>
        </div>
        <div id="applicant-hint" class="govuk-hint">Standard applicant name</div>
        <input class="govuk-input govuk-input--width-10" id="applicant" name="applicant" type="text" />
      </div>
    </div>
  </div>

  <div class="govuk-button-group">
    <button type="button" class="govuk-button">Search</button>
    <button type="button" class="govuk-button govuk-button--secondary">Export</button>
  </div>
</form>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">
    Lists
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Code</th>
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Address line 1</th>
      <th scope="col" class="govuk-table__header">Use from</th>
      <th scope="col" class="govuk-table__header">Use to</th>
      <th scope="col" class="govuk-table__header">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!--  <tr class="govuk-table__row" *ngFor="let list of lists">-->
    <!--    <th scope="row" class="govuk-table__header">{{ list.date }}</th>-->
    <!--    <td class="govuk-table__cell">{{ list.code }}</td>-->
    <!--    <td class="govuk-table__cell">{{ list.location }}</td>-->
    <!--    <td class="govuk-table__cell">{{ list.applicant }}</td>-->
    <!--    <td class="govuk-table__cell govuk-table__cell&#45;&#45;numeric">{{ list.entries }}</td>-->
    <!--    <td class="govuk-table__cell">{{ list.status }}</td>-->
    <!--    <td class="govuk-table__cell">-->
    <!--      <div class="govuk-button-group">-->
    <!--        <a-->
    <!--          [routerLink]="['/applications', list.id]"-->
    <!--          class="govuk-button govuk-button&#45;&#45;secondary"-->
    <!--        >-->
    <!--          Open-->
    <!--        </a>-->
    <!--        <button-->
    <!--          type="button"-->
    <!--          class="govuk-button govuk-button&#45;&#45;warning"-->
    <!--          (click)="onDelete(list.id)"-->
    <!--        >-->
    <!--          Delete-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </td>-->
    <!--  </tr>-->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">12341</th>
      <td class="govuk-table__cell">Name</td>
      <td class="govuk-table__cell">30 Address street</td>
      <td class="govuk-table__cell">10/10/2024</td>
      <td class="govuk-table__cell">10/10/2024</td>
      <td class="govuk-table__cell">
        <div class="govuk-button-group">
          <a class="govuk-button" [routerLink]="['/standard-applicants', 1]"> View </a>
          <a class="govuk-button govuk-button--secondary"> Download </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg
        class="govuk-pagination__icon govuk-pagination__icon--prev"
        xmlns="http://www.w3.org/2000/svg"
        height="13"
        width="15"
        aria-hidden="true"
        focusable="false"
        viewBox="0 0 15 13"
      >
        <path
          d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
        ></path>
      </svg>
      <span class="govuk-pagination__link-title"> Previous<span class="govuk-visually-hidden"> page</span> </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1"> 1 </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page"> 2 </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3"> 3 </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title"> Next<span class="govuk-visually-hidden"> page</span> </span>
      <svg
        class="govuk-pagination__icon govuk-pagination__icon--next"
        xmlns="http://www.w3.org/2000/svg"
        height="13"
        width="15"
        aria-hidden="true"
        focusable="false"
        viewBox="0 0 15 13"
      >
        <path
          d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
        ></path>
      </svg>
    </a>
  </div>
</nav>
