@if (vm().searchErrors.length) {
  <app-error-summary [items]="vm().searchErrors" title="There is a problem" />
} @else {
  @if (vm().hasSearched && !vm().isLoading && !vm().rows.length) {
    <app-notification-banner
      heading="No standard applicants found"
      body="Try different filters"
    />
  }
}

<h1 class="govuk-heading-xl">Standard applicants</h1>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="govuk-grid-row">
    <app-text-input
      formControlName="code"
      label="Code"
      idPrefix="code"
      containerWidthClass="govuk-grid-column-one-half"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="name"
      label="Standard applicant name"
      idPrefix="name"
      widthClass="govuk-input--width-20"
      containerWidthClass="govuk-grid-column-one-half"
    />
  </div>

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" value="search">Search</button>
  </div>
</form>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

@if (vm().hasSearched && !vm().isLoading && !vm().searchErrors.length) {
  <!-- Sortable table component -->
  <app-sortable-table
    id="sa-sortable-table"
    [columns]="columns"
    [data]="vm().rows"
    [clientOrServerSort]="'server'"
    [sortKey]="vm().sortField.key"
    [sortDirection]="vm().sortField.direction"
    (sortChange)="onSortChange($event)"
    appMojButtonMenu
  >
    <caption
      class="govuk-table__caption govuk-table__caption--m"
      id="sa-sortable-table-caption"
    >
      <span class="table-caption__text"> Standard applicants </span>

      <span
        class="table-caption__actions"
        role="group"
        aria-label="Table export action"
      >
        <div
          class="moj-button-menu"
          data-module="moj-button-menu"
          data-button-text="Actions"
          data-align-menu="right"
          data-button-classes="govuk-button govuk-button--small govuk-button--primary table-caption__action-button"
        >
          <button
            type="button"
            class="govuk-button moj-button-menu__item govuk-button--secondary"
          >
            Export
          </button>

          <button
            type="button"
            class="govuk-button moj-button-menu__item govuk-button--secondary"
          >
            Print
          </button>
        </div>
      </span>
    </caption>

    <!-- actions slot -->
    <ng-template #actionsTemplate let-row>
      <div class="govuk-button-group">
        <button
          type="button"
          class="govuk-button moj-button-menu__item govuk-button"
        >
          Open
        </button>
      </div>
    </ng-template>
  </app-sortable-table>

  <!-- Pager -->
  <app-pagination
    [currentPage]="vm().currentPage"
    [totalPages]="vm().totalPages"
    (pageChange)="onPageChange($event)"
  />
}
