<div class="govuk-grid-column-one-quarter app-date-tight">
  <div
    class="govuk-form-group"
    [class.govuk-form-group--error]="groupError(submitted)"
  >
    <fieldset
      class="govuk-fieldset"
      role="group"
      [attr.aria-describedby]="
        idPrefix +
        '-hint' +
        (groupError(submitted) ? ' ' + idPrefix + '-error' : '')
      "
      [formGroup]="dateForm"
    >
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">{{ label }}</h1>
      </legend>

      <div [id]="idPrefix + '-hint'" class="govuk-hint">{{ hint }}</div>

      @if (groupError(submitted)) {
        <p [id]="idPrefix + '-error'" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          @let missDay = missing('day');
          @let missMonth = missing('month');
          @let missYear = missing('year');

          @if (missDay || missMonth || missYear) {
            @if (missDay && missMonth && missYear && !isSearch) {
              Enter day, month and year
            } @else if (missDay && missMonth) {
              Enter day and month
            } @else if (missDay && missYear) {
              Enter day and year
            } @else if (missMonth && missYear) {
              Enter month and year
            } @else if (missDay) {
              Enter day
            } @else if (missMonth) {
              Enter month
            } @else if (missYear) {
              Enter year
            }
          } @else if (dateForm.errors?.['dateInvalid']) {
            {{ dateForm.errors?.['dateErrorText'] ?? 'Enter a real date' }}
          }
        </p>
      }

      <div class="govuk-date-input" [id]="idPrefix">
        <!-- Day -->
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label
              class="govuk-label govuk-date-input__label"
              [for]="idPrefix + '-day'"
              >Day</label
            >
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              [class.govuk-input--error]="fieldError('day', submitted)"
              [id]="idPrefix + '-day'"
              [name]="idPrefix + '-day'"
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="2"
              autocomplete="off"
              spellcheck="false"
              [attr.aria-invalid]="
                submitted
                  ? ariaInvalidAfterSubmit('day')
                  : ariaInvalidLive('day')
              "
              formControlName="day"
            />
          </div>
        </div>

        <!-- Month -->
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label
              class="govuk-label govuk-date-input__label"
              [for]="idPrefix + '-month'"
              >Month</label
            >
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              [class.govuk-input--error]="fieldError('month', submitted)"
              [id]="idPrefix + '-month'"
              [name]="idPrefix + '-month'"
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="2"
              autocomplete="off"
              spellcheck="false"
              [attr.aria-invalid]="
                submitted
                  ? ariaInvalidAfterSubmit('day')
                  : ariaInvalidLive('day')
              "
              formControlName="month"
            />
          </div>
        </div>

        <!-- Year -->
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label
              class="govuk-label govuk-date-input__label"
              [for]="idPrefix + '-year'"
              >Year</label
            >
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-4"
              [class.govuk-input--error]="fieldError('year', submitted)"
              [id]="idPrefix + '-year'"
              [name]="idPrefix + '-year'"
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="4"
              autocomplete="off"
              spellcheck="false"
              [attr.aria-invalid]="
                submitted
                  ? ariaInvalidAfterSubmit('day')
                  : ariaInvalidLive('day')
              "
              formControlName="year"
            />
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
