<div [formGroup]="form">
  <div class="govuk-grid-row">
    <app-text-input
      formControlName="applicant"
      label="Applicant"
      idPrefix="applicant"
      containerWidthClass="govuk-grid-column-one-half"
      widthClass="govuk-!-width-two-thirds"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="respondent"
      label="Respondent"
      idPrefix="respondent"
      containerWidthClass="govuk-grid-column-one-half"
      widthClass="govuk-!-width-two-thirds"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="postcode"
      label="Postcode"
      idPrefix="postcode"
    />
  </div>

  <ng-template #advancedFields>
    <!-- Advanced fields block -->
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="sequenceNumber"
        label="Sequence number"
        idPrefix="sequence-number"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="accountNumber"
        label="Account number"
        idPrefix="account-number"
        containerWidthClass="govuk-grid-column-one-half"
        widthClass="govuk-!-width-two-thirds"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="title"
        label="Title"
        idPrefix="title"
        containerWidthClass="govuk-grid-column-one-half"
        widthClass="govuk-!-width-two-thirds"
      />
    </div>

    <div class="govuk-grid-row">
      <app-select-input
        formControlName="fee"
        label="Fee"
        idPrefix="fee"
        [options]="[
          { label: 'Choose', value: '' },
          { label: 'Yes', value: 'yes' },
          { label: 'No', value: 'no' },
        ]"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="resulted"
        label="Resulted"
        idPrefix="resulted"
      />
    </div>
  </ng-template>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Advanced search</span>
    </summary>
    <div class="govuk-details__text">
      <ng-container *ngTemplateOutlet="advancedFields"></ng-container>
    </div>
  </details>

  <div class="govuk-button-group">
    <button class="govuk-button" value="search" (click)="onSearch()">
      Search
    </button>
    <button
      class="govuk-button govuk-button--secondary"
      type="button"
      data-module="govuk-button"
      (click)="clearSearch()"
    >
      Clear search
    </button>
  </div>
</div>
