<div [formGroup]="group()">
  <h3 class="govuk-heading-m">Name</h3>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="name"
      label="Organisation name"
      [idPrefix]="scopeId() + '-org-name'"
      [submitted]="submitted()"
      [suppressError]="false"
      [error]="errorFor(scopeId() + '-org-name')"
      widthClass="govuk-!-width-full"
    />
  </div>

  <hr
    class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
  />
  <h3 class="govuk-heading-m">Address</h3>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="addressLine1"
      label="Address line 1"
      [idPrefix]="scopeId() + '-org-address-line-1'"
      [submitted]="submitted()"
      [suppressError]="false"
      [error]="errorFor(scopeId() + '-org-address-line-1')"
      widthClass="govuk-!-width-full"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="addressLine2"
      label="Address line 2"
      [idPrefix]="scopeId() + '-org-address-line-2'"
      [error]="errorFor(scopeId() + '-org-address-line-2')"
      widthClass="govuk-!-width-full"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="addressLine3"
      label="Town or city"
      [idPrefix]="scopeId() + '-org-address-line-3'"
      [error]="errorFor(scopeId() + '-org-address-line-3')"
      widthClass="govuk-!-width-full"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="addressLine4"
      label="County or region"
      [idPrefix]="scopeId() + '-org-address-line-4'"
      [error]="errorFor(scopeId() + '-org-address-line-4')"
      widthClass="govuk-!-width-full"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="addressLine5"
      label="Post town"
      [idPrefix]="scopeId() + '-org-address-line-5'"
      [error]="errorFor(scopeId() + '-org-address-line-5')"
      widthClass="govuk-!-width-full"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="postcode"
      label="Postcode"
      hint="For example, SW1A 2AA"
      [idPrefix]="scopeId() + '-org-postcode'"
      [submitted]="submitted()"
      [suppressError]="true"
      [error]="errorFor(scopeId() + '-org-postcode')"
      containerWidthClass="govuk-grid-column-one-half"
    />
  </div>

  <hr
    class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
  />
  <h3 class="govuk-heading-m">Contact details</h3>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="phoneNumber"
      label="Phone number"
      hint="For example, 020 7946 0000"
      [idPrefix]="scopeId() + '-org-phone-number'"
      inputType="tel"
      [submitted]="submitted()"
      [suppressError]="true"
      [error]="errorFor(scopeId() + '-org-phone-number')"
      containerWidthClass="govuk-grid-column-one-half"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="mobileNumber"
      label="Mobile number"
      hint="For example, 07123 456789"
      [idPrefix]="scopeId() + '-org-mobile-number'"
      inputType="tel"
      [submitted]="submitted()"
      [suppressError]="true"
      [error]="errorFor(scopeId() + '-org-mobile-number')"
      containerWidthClass="govuk-grid-column-one-half"
    />
  </div>

  <div class="govuk-grid-row">
    <app-text-input
      formControlName="emailAddress"
      label="Email address"
      hint="For example, name@department.gov.uk"
      [idPrefix]="scopeId() + '-org-email-address'"
      inputType="email"
      [submitted]="submitted()"
      [suppressError]="true"
      [error]="errorFor(scopeId() + '-org-email-address')"
      containerWidthClass="govuk-grid-column-one-half"
    />
  </div>
</div>
