<app-breadcrumbs
  [items]="[
    { label: 'Applications list', link: '/applications-list' },
    {
      label: 'Applications list details',
      link: '/applications-list/' + listId,
    },
  ]"
/>

@if (errorSummary().length) {
  <app-error-summary
    [title]="'There is a problem'"
    [items]="errorSummary()"
    (itemSelect)="onCreateErrorClick($event)"
  />
}

<h1 class="govuk-heading-xl">Update officials</h1>

<app-sortable-table
  id="update-officials-applications-table"
  [caption]="'Application(s) to update'"
  [columns]="columns"
  [data]="rows"
/>

<div class="govuk-!-margin-top-6">
  <app-officials-section
    [group]="form"
    [errors]="errorSummary()"
    (saveOfficialsClicked)="onSaveOfficials()"
  />
</div>
