<h1 class="govuk-heading-l">Activity audit</h1>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<!-- Bind this sub-form to the group passed in from the parent -->
<div [formGroup]="group()">
  <!-- Date from -->
  <div class="govuk-grid-row">
    <app-date-input
      formControlName="dateFrom"
      label="Date from"
      hint="For example, 27 3 2007"
      idPrefix="date-from"
      [submitted]="submitted()"
      [externalErrorText]="errorText('dateFrom')"
    />
  </div>

  <!-- Date to -->
  <div class="govuk-grid-row">
    <app-date-input
      formControlName="dateTo"
      label="Date to"
      hint="For example, 27 3 2007"
      idPrefix="date-to"
      [submitted]="submitted()"
      [externalErrorText]="errorText('dateTo')"
    />
  </div>
  <!-- Username -->
  <div class="govuk-grid-row">
    <app-text-input
      formControlName="username"
      label="Username"
      idPrefix="username"
      containerWidthClass="govuk-grid-column-one-half"
      widthClass="govuk-!-width-one-half"
    />
  </div>
  <!-- Activity -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <app-suggestions
        label="Activity"
        id="activity"
        [search]="activitySearch()"
        (searchChange)="setActivitySearch($event)"
        [suggestions]="filteredActivities()"
        [getItemLabel]="activityLabel"
        [showAllValues]="true"
        (selectItem)="selectActivity($event)"
        [showError]="showError('activity')"
        [errorText]="errorText('activity')"
        containerWidthClass=""
        widthClass="govuk-!-width-one-half"
      />

      @if (selectedActivities().length) {
        <p class="govuk-body">Selected activities</p>

        <dl class="govuk-summary-list activity-audit-summary-list">
          @for (activity of selectedActivities(); track activity) {
            <div class="govuk-summary-list__row selected-activity">
              <dd class="govuk-summary-list__value">
                {{ activityLabel(activity) }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a
                  class="govuk-link"
                  href="javascript:void(0)"
                  (click)="removeActivity(activity)"
                >
                  Remove
                  <span class="govuk-visually-hidden">
                    {{ activityLabel(activity) }}
                  </span>
                </a>
              </dd>
            </div>
          }
        </dl>
      }
    </div>
  </div>
</div>
