<h2 class="govuk-heading-l">List details</h2>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<form [formGroup]="form()" (ngSubmit)="onUpdate()" autocomplete="off">
  <app-applications-list-form
    [form]="form()"
    [mode]="'update'"
    [submitted]="vm().updateInvalid"
    [suggestions]="suggestionsFacade()"
    [getError]="fieldError.bind(this)"
    [hasCloseErrors]="hasCloseErrors()"
    [closeErrorText]="closeErrorText()"
    [updateInvalid]="vm().updateInvalid"
    [hasDurationCloseError]="hasDurationCloseError()"
    [durationCloseErrorText]="durationCloseErrorText()"
  />

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button">Update</button>
  </div>
</form>
