<app-breadcrumbs [items]="breadcrumbs()" />

<h1 class="govuk-heading-xl">Create new applications list</h1>

@if (vm().errorSummary.length || vm().createInvalid) {
  <app-error-summary
    [title]="vm().errorHint"
    [items]="vm().errorSummary"
    (itemSelect)="onCreateErrorClick($event)"
  />
}

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
<form [formGroup]="form" (ngSubmit)="onSubmit($event)" autocomplete="off">
  <app-applications-list-form
    [form]="form"
    [mode]="'create'"
    [submitted]="vm().submitted"
    [suggestions]="suggestionsFacade"
    [getError]="fieldError.bind(this)"
  />

  <div class="govuk-button-group">
    <button id="create" type="submit" class="govuk-button" value="create">
      Create
    </button>

    @if (fromMoveApplications()) {
      <a
        href="#"
        (click)="$event.preventDefault(); onCancel()"
        class="govuk-link govuk-link--no-visited-state"
      >
        Cancel
      </a>
    }
  </div>
</form>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
