<app-breadcrumbs
  [items]="[
    { label: 'Applications list', link: '/applications-list' },
    {
      label: 'Applications list details',
      link: '/applications-list/' + vm().appListId,
    },
  ]"
/>

@if (vm().errorFound) {
  <app-error-summary
    [title]="errorHint || 'There is a problem'"
    [items]="vm().summaryErrors"
    targetId="codes-table"
    (itemSelect)="onCreateErrorClick($event)"
  />
} @else if (successBanner) {
  <app-success-banner
    [heading]="successBanner.heading"
    [body]="successBanner.body"
  />

  <!-- If your banner body doesn't support HTML links, render a link just under it -->
  @if (successBanner.link) {
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a [href]="successBanner.link.href">{{ successBanner.link.text }}</a>
    </p>
  }
}

<h1 class="govuk-heading-xl">Applications list entry update</h1>

<h2 class="govuk-heading-l">Summary of application list entry</h2>

<form [formGroup]="form">
  <ng-template #applicantTpl>
    <app-applicant-section
      [form]="form"
      [applicantType]="applicantType"
      [personGroup]="personGroup"
      [organisationGroup]="organisationGroup"
      [submitted]="vm().formSubmitted"
      [errorItems]="applicantErrorItems"
      [selectedStandardApplicantCode]="selectedStandardApplicantCode"
      (standardApplicantCodeChange)="onStandardApplicantCodeChanged($event)"
      [isUpdateDisabled]="isUpdateDisabled"
      (updateClicked)="onUpdateApplicant()"
      [showUpdateButton]="true"
      updateButtonText="Update applicant"
    />
  </ng-template>

  <ng-template #codesTpl>
    @if (formReady()) {
      <app-application-code-search
        [patchedFormData]="this.form"
        (selectCodeAndLodgementDate)="onCodeSelected($event)"
      />
    }
  </ng-template>

  <ng-template #wordingTpl>
    <span id="wording-section"></span>
    <div class="govuk-grid-row">
      <!-- Court name -->
      <app-text-input
        formControlName="courtName"
        label="Court name"
        hint="Enter the official name of the court"
        idPrefix="court-name"
      />

      <!-- Organisation name -->
      <app-text-input
        formControlName="organisationName"
        label="Organisation name"
        hint="Enter the legal name of the organisation"
        idPrefix="organisation-name"
      />
    </div>
  </ng-template>

  <ng-template #respondentTpl>
    <app-respondent-section
      [form]="form"
      [personGroup]="forms.respondentPersonForm"
      [organisationGroup]="forms.respondentOrganisationForm"
      [respondentEntryTypeOptions]="respondentEntryTypeOptions"
      [bulkAllowed]="vm().bulkApplicationsAllowed"
      [personTitleOptions]="personTitleOptions"
      [submitted]="vm().formSubmitted"
      [errorItems]="respondentErrorItems"
    />
  </ng-template>

  <ng-template #civilFeeTpl>
    <app-civil-fee-section
      [civilFeeColumns]="civilFeeColumns"
      [feeStatusOptions]="feeStatusOptions"
      [feeForm]="civilFeeForm"
      [feeMeta]="feeMeta"
      (addFeeDetails)="onAddFeeDetails($event)"
      (civilFeeErrors)="onChildErrors('civilFee', $event)"
      (offsiteFeeChanged)="onOffsiteFeeChanged($event)"
      [feeRequired]="vm().isFeeRequired"
    />
  </ng-template>

  <ng-template #notesTpl>
    <app-notes-section
      [form]="applicationNotesForm"
      (notesErrors)="onChildErrors('notes', $event)"
    />
  </ng-template>

  <ng-template #resultWordingTpl>
    <app-result-wording-section
      [resultApplicantContext]="resultApplicantContext"
      [resultCodesList]="resultsFacade.resultCodesSignal()"
      [existingResults]="resultsFacade.entryResults()"
      [clearPendingToken]="resultsFacade.clearPendingToken()"
      [wordingByCode]="resultsFacade.resultCodeWordingByCode()"
      [resultCodeTemplateByCode]="resultsFacade.resultCodeTemplateByCode()"
      (pendingChange)="onPendingChange($event)"
      (submitResults)="onSubmitResults($event)"
      (removeExisting)="onRemoveResult($event)"
      (wordingFieldErrors)="onChildErrors('resultWording', $event)"
    ></app-result-wording-section>
  </ng-template>

  <ng-template #officialsTpl>
    <!-- Magistrate 1 -->
    <h3 class="govuk-heading-s">Magistrate 1</h3>
    <div class="govuk-grid-row">
      <app-select-input
        formControlName="mags1Title"
        label="Select magistrate’s title"
        hint="The magistrate’s formal title"
        idPrefix="mags1-title"
        [options]="personTitleOptions"
      />

      <app-text-input
        formControlName="mags1FirstName"
        label="Magistrate’s first name"
        hint="Enter the magistrate’s given name"
        idPrefix="mags1-first-name"
      />

      <app-text-input
        formControlName="mags1Surname"
        label="Magistrate’s surname"
        hint="Enter the magistrate’s family name"
        idPrefix="mags1-surname"
      />
    </div>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <!-- Magistrate 2 -->
    <h3 class="govuk-heading-s">Magistrate 2</h3>
    <div class="govuk-grid-row">
      <app-select-input
        formControlName="mags2Title"
        label="Select magistrate’s title"
        hint="The magistrate’s formal title"
        idPrefix="mags2-title"
        [options]="personTitleOptions"
      />

      <app-text-input
        formControlName="mags2FirstName"
        label="Magistrate’s first name"
        hint="Enter the magistrate’s given name"
        idPrefix="mags2-first-name"
      />

      <app-text-input
        formControlName="mags2Surname"
        label="Magistrate’s surname"
        hint="Enter the magistrate’s family name"
        idPrefix="mags2-surname"
      />
    </div>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <!-- Magistrate 3 -->
    <h3 class="govuk-heading-s">Magistrate 3</h3>
    <div class="govuk-grid-row">
      <app-select-input
        formControlName="mags3Title"
        label="Select magistrate’s title"
        hint="The magistrate’s formal title"
        idPrefix="mags3-title"
        [options]="personTitleOptions"
      />

      <app-text-input
        formControlName="mags3FirstName"
        label="Magistrate’s first name"
        hint="Enter the magistrate’s given name"
        idPrefix="mags3-first-name"
      />

      <app-text-input
        formControlName="mags3Surname"
        label="Magistrate’s surname"
        hint="Enter the magistrate’s family name"
        idPrefix="mags3-surname"
      />
    </div>

    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <h2 class="govuk-heading-s">Officials</h2>

    <div class="govuk-grid-row">
      <app-select-input
        formControlName="officialTitle"
        label="Select court official’s title"
        hint="The official’s formal title"
        idPrefix="official-title"
        [options]="personTitleOptions"
      />

      <app-text-input
        formControlName="officialFirstName"
        label="Official’s first name"
        hint="Enter the official’s given name"
        idPrefix="official-first-name"
      />

      <app-text-input
        formControlName="officialSurname"
        label="Official’s surname"
        hint="Enter the official’s family name"
        idPrefix="official-surname"
      />
    </div>
  </ng-template>

  <app-accordion
    [id]="'accordion-default'"
    [items]="[
      { heading: 'Applicant', tpl: applicantTpl, expanded: false },
      { heading: 'Codes', tpl: codesTpl, expanded: false },
      { heading: 'Wording', tpl: wordingTpl, expanded: false },
      { heading: 'Respondent', tpl: respondentTpl, expanded: false },
      { heading: 'Civil fee', tpl: civilFeeTpl, expanded: false },
      { heading: 'Notes', tpl: notesTpl, expanded: false },
      { heading: 'Result wording', tpl: resultWordingTpl, expanded: false },
      { heading: 'Officials', tpl: officialsTpl, expanded: false },
    ]"
  />

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" (click)="onUpdateApplication()">
      Save complete application
    </button>
    <a
      class="govuk-button govuk-button--secondary"
      [routerLink]="['/applications-list', vm().appListId]"
    >
      Cancel
    </a>
  </div>
</form>
