<fieldset class="govuk-fieldset">
  <form [formGroup]="form">
    <div class="govuk-grid-row">
      <app-text-input
        widthClass="govuk-input--width-10"
        containerWidth="govuk-grid-column-one-quarter"
        formControlName="code"
        label="Application code"
        [hint]="codePlaceholder"
        idPrefix="applicationCode"
      />

      <app-text-input
        widthClass=""
        containerWidth="govuk-grid-column-two-thirds"
        formControlName="title"
        label="Application title"
        [hint]="titlePlaceholder"
        idPrefix="app-code-title"
      />
    </div>
    <div class="govuk-grid-row">
      <app-date-input
        formControlName="lodgementDate"
        label="Lodgement date"
        hint="For example, 27 3 2007"
        idPrefix="lodgement-date"
        [submitted]="submitted"
        [isSearch]="true"
      />
    </div>
  </form>

  <div class="govuk-button-group">
    <button class="govuk-button" type="button" (click)="search()">
      Search
    </button>
    <button
      class="govuk-button govuk-button--secondary"
      type="button"
      (click)="clear()"
    >
      Clear
    </button>
  </div>

  @if (loading) {
    <p class="govuk-body">Searching…</p>
  } @else if (errored) {
    <!-- TODO: refactor here (move and make it look nicer) -->
    <div
      class="govuk-error-summary"
      aria-labelledby="app-code-error-title"
      role="alert"
      tabindex="-1"
    >
      <h2 class="govuk-error-summary__title" id="app-code-error-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <p>We couldn’t fetch application codes. Please try again.</p>
      </div>
    </div>
  } @else {
    @if (
      codesRows.length === 0 &&
      submitted &&
      (form.value.code || form.value.title)
    ) {
      <app-notification-banner
        heading="No application codes found"
        body="Try different filters, or retry the search."
      />
    }

    @if (codesRows.length > 0) {
      <app-sortable-table
        id="codes-table"
        caption="Codes"
        [columns]="codesColumns"
        [data]="codesRows"
        appMojButtonMenu
      >
        <ng-template #actionsTemplate let-row>
          <div class="govuk-button-group">
            <button type="button" class="govuk-button" (click)="onAddCode(row)">
              Add code
            </button>
          </div>
        </ng-template>
      </app-sortable-table>
    }
  }
</fieldset>
