<app-breadcrumbs [items]="[buildReturnLink()]"></app-breadcrumbs>

<h1 class="govuk-heading-xl">Create new entry</h1>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

@if (step === 'select') {
  <form [formGroup]="form" novalidate>
    <app-radio-group
      legend="Select an applicant"
      idPrefix="applicant"
      [options]="applicantOptions"
      errorText="Please select an applicant"
      size="l"
      formControlName="applicantType"
    >
    </app-radio-group>

    <div class="govuk-button-group">
      <button
        type="button"
        class="govuk-button"
        (click)="onNext()"
        [disabled]="!form.get('applicantType')?.value"
      >
        Next
      </button>
      <a
        class="govuk-button govuk-button--secondary"
        [routerLink]="['/applications-list', id]"
      >
        Cancel
      </a>
    </div>
  </form>
}

@if (step !== 'select') {
  @switch (form.controls.applicantType.value) {
    @case ('person') {
      <!-- <app-applicant-person-form
      formControlName="applicant"
      [submitted]="submitted">
    </app-applicant-person-form> -->
    }
    @case ('org') {
      <!-- <app-applicant-organisation-form
      formControlName="applicant"
      [submitted]="submitted">
    </app-applicant-organisation-form> -->
    }
    @case ('standard') {
      <!-- placeholder for your standard-applicant picker -->
      <h2 class="govuk-heading-l">Applicant: Standard applicant</h2>
      <p class="govuk-body">
        You selected Standard applicant. Placeholder form goes here.
      </p>
      <div class="govuk-button-group">
        <button
          type="button"
          class="govuk-button govuk-button--secondary"
          (click)="onBack()"
        >
          Back
        </button>
      </div>
    }
  }
}

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
