<div [formGroup]="group()">
  <div class="govuk-grid-row">
    <!-- Date from -->
    <app-date-input
      formControlName="dateFrom"
      label="Date from"
      idPrefix="list-date-from"
      [submitted]="submitted()"
      [externalErrorText]="errorText('dateFrom')"
    />
  </div>

  <div class="govuk-grid-row">
    <!-- Date to -->
    <app-date-input
      formControlName="dateTo"
      label="Date to"
      idPrefix="list-date-to"
      [submitted]="submitted()"
      [externalErrorText]="errorText('dateTo')"
    />
  </div>

  <div class="govuk-grid-row">
    <!-- Court -->
    <app-suggestions
      id="court"
      tabindex="-1"
      label="Court"
      formControlName="court"
      [search]="suggestions().courthouseSearch()"
      (searchChange)="
        suggestions().setCourthouseSearch($event);
        suggestions().onCourthouseInputChange()
      "
      [suggestions]="suggestions().filteredCourthouses()"
      (selectItem)="suggestions().selectCourthouse($event)"
      [showError]="showError('court')"
      [errorText]="errorText('court')"
      containerWidthClass="govuk-grid-column-one-half"
      widthClass="govuk-!-width-two-thirds"
    />
  </div>

  <ng-template #advancedFields>
    <ng-content select="[reportsAdvancedFieldsBeforeLocation]"></ng-content>

    <div class="govuk-grid-row">
      <!-- CJA -->
      <app-suggestions
        id="cja"
        tabindex="-1"
        label="Criminal justice area"
        formControlName="cja"
        [search]="suggestions().cjaSearch()"
        (searchChange)="
          suggestions().setCjaSearch($event); suggestions().onCjaInputChange()
        "
        [suggestions]="suggestions().filteredCja()"
        (selectItem)="suggestions().selectCja($event)"
        [showError]="showError('cja')"
        [errorText]="errorText('cja')"
        containerWidthClass="govuk-grid-column-one-quarter"
        widthClass="govuk-!-width-full"
      />
    </div>

    <div class="govuk-grid-row">
      <!-- Other location -->
      <app-text-input
        formControlName="otherLocation"
        label="Other location description"
        idPrefix="other-location"
        [error]="errorText('otherLocation')"
        containerWidthClass="govuk-grid-column-one-quarter"
        widthClass="govuk-!-width-full"
      />
    </div>
  </ng-template>

  @if (advancedFilters()) {
    <details class="govuk-details" [open]="isAdvancedOpen()">
      <summary class="govuk-details__summary" (click)="onAdvancedClick($event)">
        <span class="govuk-details__summary-text">{{ advancedLabel() }}</span>
      </summary>

      <div class="govuk-details__text">
        <ng-container *ngTemplateOutlet="advancedFields"></ng-container>
      </div>
    </details>
  } @else {
    <ng-container *ngTemplateOutlet="advancedFields"></ng-container>
  }
</div>
