@if (isVisible()) {
  <div
    role="region"
    class="moj-alert moj-alert--{{ alertType() }}"
    [class.moj-alert--with-heading]="hasHeading()"
    [attr.aria-label]="ariaLabel()"
    data-module="moj-alert"
  >
    <div>
      <svg
        class="moj-alert__icon"
        role="presentation"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 30 30"
        height="30"
        width="30"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          [attr.d]="iconPath()"
          fill="currentColor"
        />
      </svg>
    </div>
    <div class="moj-alert__content">
      @if (hasHeading()) {
        <h2 class="moj-alert__heading">{{ title() }}</h2>
      }
      <span>
        {{ message() }}
        @if (href(); as link) {
          <a [href]="link.href">{{ link.msg }}</a>
        }
      </span>
    </div>
    <div class="moj-alert__action">
      <button
        class="moj-alert__dismiss"
        [hidden]="!allowDismiss()"
        (click)="dismiss()"
      >
        Dismiss
      </button>
    </div>
  </div>
}
