<div class="govuk-grid-column-one-quarter app-date-tight">
  <div
    class="govuk-form-group"
    [class.govuk-form-group--error]="
      submitted &&
      ((!isSearch &&
        (dateForm.invalid ||
          !dateForm.get('day')?.value ||
          !dateForm.get('month')?.value ||
          !dateForm.get('year')?.value)) ||
        (isSearch &&
          (dateForm.get('day')?.value ||
            dateForm.get('month')?.value ||
            dateForm.get('year')?.value) &&
          (dateForm.invalid ||
            !dateForm.get('day')?.value ||
            !dateForm.get('month')?.value ||
            !dateForm.get('year')?.value)))
    "
  >
    <fieldset
      class="govuk-fieldset"
      role="group"
      [attr.aria-describedby]="
        idPrefix +
        '-hint' +
        (submitted &&
        ((!isSearch &&
          (dateForm.invalid ||
            !dateForm.get('day')?.value ||
            !dateForm.get('month')?.value ||
            !dateForm.get('year')?.value)) ||
          (isSearch &&
            (dateForm.get('day')?.value ||
              dateForm.get('month')?.value ||
              dateForm.get('year')?.value) &&
            (dateForm.invalid ||
              !dateForm.get('day')?.value ||
              !dateForm.get('month')?.value ||
              !dateForm.get('year')?.value)))
          ? ' ' + idPrefix + '-error'
          : '')
      "
      [formGroup]="dateForm"
    >
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">{{ label }}</h1>
      </legend>

      <div [id]="idPrefix + '-hint'" class="govuk-hint">{{ hint }}</div>

      <!-- Group error -->
      @if (
        submitted &&
        ((!isSearch &&
          (dateForm.invalid ||
            !dateForm.get('day')?.value ||
            !dateForm.get('month')?.value ||
            !dateForm.get('year')?.value)) ||
          (isSearch &&
            (dateForm.get('day')?.value ||
              dateForm.get('month')?.value ||
              dateForm.get('year')?.value) &&
            (dateForm.invalid ||
              !dateForm.get('day')?.value ||
              !dateForm.get('month')?.value ||
              !dateForm.get('year')?.value)))
      ) {
        <p [id]="idPrefix + '-error'" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          @if (
            !dateForm.get('day')?.value ||
            !dateForm.get('month')?.value ||
            !dateForm.get('year')?.value
          ) {
            Enter day, month and year
          } @else if (dateForm.errors?.['dateInvalid']) {
            Enter a real date
          }
        </p>
      }

      <div class="govuk-date-input" [id]="idPrefix">
        <!-- Day -->
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label
              class="govuk-label govuk-date-input__label"
              [for]="idPrefix + '-day'"
              >Day</label
            >
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              [class.govuk-input--error]="
                (dateForm.get('day')?.invalid &&
                  (dateForm.get('day')?.touched ||
                    dateForm.get('day')?.dirty)) ||
                (submitted &&
                  ((!isSearch &&
                    (!dateForm.get('day')?.value ||
                      dateForm.errors?.['dateInvalid'])) ||
                    (isSearch &&
                      (dateForm.get('day')?.value ||
                        dateForm.get('month')?.value ||
                        dateForm.get('year')?.value) &&
                      (!dateForm.get('day')?.value ||
                        dateForm.errors?.['dateInvalid']))))
              "
              [id]="idPrefix + '-day'"
              [name]="idPrefix + '-day'"
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="2"
              autocomplete="off"
              spellcheck="false"
              [attr.aria-invalid]="
                (dateForm.get('day')?.invalid &&
                  (dateForm.get('day')?.touched ||
                    dateForm.get('day')?.dirty)) ||
                (submitted && !dateForm.get('day')?.value)
                  ? 'true'
                  : null
              "
              formControlName="day"
            />
          </div>
        </div>

        <!-- Month -->
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label
              class="govuk-label govuk-date-input__label"
              [for]="idPrefix + '-month'"
              >Month</label
            >
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              [class.govuk-input--error]="
                (dateForm.get('month')?.invalid &&
                  (dateForm.get('month')?.touched ||
                    dateForm.get('month')?.dirty)) ||
                (submitted &&
                  ((!isSearch &&
                    (!dateForm.get('month')?.value ||
                      dateForm.errors?.['dateInvalid'])) ||
                    (isSearch &&
                      (dateForm.get('day')?.value ||
                        dateForm.get('month')?.value ||
                        dateForm.get('year')?.value) &&
                      (!dateForm.get('month')?.value ||
                        dateForm.errors?.['dateInvalid']))))
              "
              [id]="idPrefix + '-month'"
              [name]="idPrefix + '-month'"
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="2"
              autocomplete="off"
              spellcheck="false"
              [attr.aria-invalid]="
                (dateForm.get('month')?.invalid &&
                  (dateForm.get('month')?.touched ||
                    dateForm.get('month')?.dirty)) ||
                (submitted && !dateForm.get('month')?.value)
                  ? 'true'
                  : null
              "
              formControlName="month"
            />
          </div>
        </div>

        <!-- Year -->
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label
              class="govuk-label govuk-date-input__label"
              [for]="idPrefix + '-year'"
              >Year</label
            >
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-4"
              [class.govuk-input--error]="
                (dateForm.get('year')?.invalid &&
                  (dateForm.get('year')?.touched ||
                    dateForm.get('year')?.dirty)) ||
                (submitted &&
                  ((!isSearch &&
                    (!dateForm.get('year')?.value ||
                      dateForm.errors?.['dateInvalid'])) ||
                    (isSearch &&
                      (dateForm.get('day')?.value ||
                        dateForm.get('month')?.value ||
                        dateForm.get('year')?.value) &&
                      (!dateForm.get('year')?.value ||
                        dateForm.errors?.['dateInvalid']))))
              "
              [id]="idPrefix + '-year'"
              [name]="idPrefix + '-year'"
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="4"
              autocomplete="off"
              spellcheck="false"
              [attr.aria-invalid]="
                (dateForm.get('year')?.invalid &&
                  (dateForm.get('year')?.touched ||
                    dateForm.get('year')?.dirty)) ||
                (submitted && !dateForm.get('year')?.value)
                  ? 'true'
                  : null
              "
              formControlName="year"
            />
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
