@import 'govuk-frontend';

.navigation-header__button-container {
  margin-left: auto;
  display: flex;         /* keeps its contents centered vertically */
  align-items: center;
}

.govuk-header .govuk-header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.govuk-width-container {
  max-width: 1100px;
}

@media (min-width: 1140px) {
  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (min-width: 1080px) and (max-width: 1139px) {
  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
    }
  }
}

@media (min-width: 1020px) and (max-width: 1079px) {
  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
    }
  }
}

.header-with-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem; /* optional spacing below */
}

.govuk-breadcrumbs {
  margin-top: 0;
}

[aria-sort] button,
[aria-sort] button:hover {
  display: inline-flex;
  position: relative;
  margin: 0;
  padding: 0;
  border-width: 0;
  color: #005ea5;
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  text-align: inherit;
  cursor: pointer;
  align-items: center;
}

[aria-sort] button:focus {
  outline: none;
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
  box-shadow:
    0 -2px $govuk-focus-colour,
    0 4px $govuk-focus-text-colour;
}
