<div class="govuk-form-group" [class.govuk-form-group--error]="showFieldError">
  <label class="govuk-label" [attr.for]="id">
    {{ label }}
  </label>

  @if (hint) {
    <div class="govuk-hint" [id]="hintId">
      {{ hint }}
    </div>
  }

  @if (showFieldError) {
    <p class="govuk-error-message" [id]="errorId">
      <span class="govuk-visually-hidden">Error:</span>
      {{ errorText }}
    </p>
  }

  <input
    class="govuk-input"
    [class.govuk-input--error]="showFieldError"
    [attr.id]="id"
    [attr.name]="name"
    type="email"
    spellcheck="false"
    [attr.autocomplete]="'email'"
    [attr.aria-describedby]="describedBy"
    [formControl]="control"
    (blur)="markTouched()"
  />
</div>
