<h1 class="govuk-heading-l">Private Prosecutors Index</h1>

<p class="govuk-body">
  Provides an index of all applications to commence a private prosecution
  recorded under MX99010.
</p>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<!-- Bind this sub-form to the nested FormGroup provided by the parent -->
<app-reports-shared-form
  [group]="group()"
  [suggestions]="suggestions()"
  [submitted]="submitted()"
  [getError]="getError()"
  otherLocationLabel="Other Location"
  cjaLabel="CJA"
  locationFieldsOrder="other-location-first"
>
  <div reportsAfterDateBeforeCourt [formGroup]="group()">
    <!-- Applicant first name -->
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="applicantFirstName"
        label="Applicant First Name"
        idPrefix="ppi-applicant-first-name"
      />
    </div>

    <!-- Applicant surname -->
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="applicantSurname"
        label="Applicant Surname"
        idPrefix="ppi-applicant-surname"
      />
    </div>

    <!-- Standard applicant name -->
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="standardApplicantName"
        label="Standard Applicant Name"
        idPrefix="ppi-standard-applicant-name"
      />
    </div>

    <!-- Respondent first name -->
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="respondentFirstName"
        label="Respondent First Name"
        idPrefix="ppi-respondent-first-name"
      />
    </div>

    <!-- Respondent surname -->
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="respondentSurname"
        label="Respondent Surname"
        idPrefix="ppi-respondent-surname"
      />
    </div>

    <!-- Respondent organisation -->
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="respondentOrganisationName"
        label="Respondent Organisation Name"
        idPrefix="ppi-respondent-organisation-name"
      />
    </div>
  </div>
</app-reports-shared-form>
