<h1 class="govuk-heading-l">Private Prosecutors Index</h1>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<app-reports-shared-form
  [group]="group()"
  [suggestions]="suggestions()"
  [submitted]="submitted()"
  [getError]="getError()"
  otherLocationLabel="Other Location"
  cjaLabel="CJA"
  [locationBeforeCja]="true"
>
  <div reportsAfterDateBeforeCourt [formGroup]="group()">
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="applicantFirstName"
        label="Applicant first name"
        idPrefix="ppi-applicant-first-name"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="applicantSurname"
        label="Applicant surname"
        idPrefix="ppi-applicant-surname"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="standardApplicantName"
        label="Standard applicant name"
        idPrefix="ppi-standard-applicant-name"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="respondentFirstName"
        label="Respondent first name"
        idPrefix="ppi-respondent-first-name"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="respondentSurname"
        label="Respondent surname"
        idPrefix="ppi-respondent-surname"
      />
    </div>

    <div class="govuk-grid-row">
      <app-text-input
        formControlName="respondentOrganisationName"
        label="Respondent organisation name"
        idPrefix="ppi-respondent-organisation-name"
      />
    </div>
  </div>
</app-reports-shared-form>
