<div class="govuk-grid-column-one-quarter">
  <div class="govuk-form-group" [class.govuk-form-group--error]="displayErrors">
    <fieldset
      class="govuk-fieldset"
      role="group"
      [attr.aria-describedby]="
        (hint() ? idPrefix() + '-hint' : '') +
        (displayErrors ? ' ' + idPrefix() + '-error' : '')
      "
    >
      <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        @if (label()) {
          <h1 class="govuk-fieldset__heading">{{ label() }}</h1>
        }
      </legend>

      @if (hint()) {
        <div [id]="idPrefix() + '-hint'" class="govuk-hint">{{ hint() }}</div>
      }

      @let h = hours ?? '';
      @let m = minutes ?? '';
      @let missH = h === '';
      @let missM = m === '';
      @let anyEntered = h !== '' || m !== '';

      @if (displayErrors) {
        <p [id]="idPrefix() + '-error'" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          @if (showError() && errorTextOverride()) {
            {{ errorText }}
          } @else if (mode() === 'clock' && anyEntered && (missH || missM)) {
            @if (missH && missM && required()) {
              Enter hours and minutes
            } @else if (missH) {
              Enter hours
            } @else if (missM) {
              Enter minutes
            }
          } @else {
            {{ errorText }}
          }
        </p>
      }

      <div class="govuk-input__wrapper">
        <!-- Hours -->
        <input
          class="govuk-input govuk-input--width-2"
          [id]="idPrefix() + '-hours'"
          [name]="idPrefix() + '-hours'"
          [class.govuk-input--error]="displayErrors"
          type="text"
          spellcheck="false"
          [attr.aria-describedby]="
            (hint() ? idPrefix() + '-hint ' : '') +
            (displayErrors ? idPrefix() + '-error' : '')
          "
          [value]="hoursText"
          (input)="onHoursInput($event)"
          (blur)="touch()"
          [disabled]="isDisabled"
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="2"
          autocomplete="off"
          [attr.aria-label]="'Hours'"
        />
        <div
          class="govuk-input__suffix govuk-!-margin-right-3"
          aria-hidden="true"
        >
          HH
        </div>

        <!-- Minutes -->
        <input
          class="govuk-input govuk-input--width-2"
          [id]="idPrefix() + '-minutes'"
          [name]="idPrefix() + '-minutes'"
          [class.govuk-input--error]="displayErrors"
          type="text"
          spellcheck="false"
          [attr.aria-describedby]="
            (hint() ? idPrefix() + '-hint ' : '') +
            (displayErrors ? idPrefix() + '-error' : '')
          "
          [value]="minutesText"
          (input)="onMinutesInput($event)"
          (blur)="touch()"
          [disabled]="isDisabled"
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="2"
          autocomplete="off"
          [attr.aria-label]="'Minutes'"
        />
        <div
          class="govuk-input__suffix govuk-!-margin-right-3"
          aria-hidden="true"
        >
          MM
        </div>
      </div>
    </fieldset>
  </div>
</div>
