<h1 class="govuk-heading-l">Fees</h1>

<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>

<!-- Bind the sub-form -->
<app-reports-shared-form
  [group]="group()"
  [suggestions]="suggestions()"
  [submitted]="submitted()"
  [getError]="getError()"
  [advancedFilters]="true"
  [courtInAdvancedFilters]="true"
>
  <div reportsAfterDateBeforeCourt [formGroup]="group()">
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="standardApplicantCode"
        label="Standard applicant code"
        id="standard-applicant-code"
      />
    </div>
  </div>

  <div reportsAdvancedFieldsBeforeLocation [formGroup]="group()">
    <div class="govuk-grid-row">
      <app-text-input
        formControlName="surnameOrOrg"
        label="Applicant surname or organisation name"
        id="surname-or-org"
        containerWidthClass="govuk-grid-column-one-half"
        widthClass="govuk-!-width-two-thirds"
      />
    </div>
  </div>
</app-reports-shared-form>
