<a routerLink="/applications-list" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl">{{ applicationList?.description || 'Applications list' }}</h1>

<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

<div class="govuk-tabs" data-module="govuk-tabs" data-govuk-tabs-init="">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list" role="tablist">
    <!-- Applications tab -->
    <li
      class="govuk-tabs__list-item"
      role="presentation"
      [ngClass]="{
      'govuk-tabs__list-item--selected': currentFragment === 'applications' || !currentFragment
    }"
    >
      <a
        class="govuk-tabs__tab"
        [routerLink]="['/applications-list', id]"
        fragment="applications"
        id="tab_applications"
        role="tab"
        aria-controls="applications"
        [attr.aria-selected]="currentFragment === 'applications' || !currentFragment"
        tabindex="0"
      >
        Applications
      </a>
    </li>

    <!-- List details tab -->
    <li
      class="govuk-tabs__list-item"
      role="presentation"
      [ngClass]="{ 'govuk-tabs__list-item--selected': currentFragment === 'list-details' }"
    >
      <a
        class="govuk-tabs__tab"
        [routerLink]="['/applications-list', id]"
        fragment="list-details"
        id="tab_list-details"
        role="tab"
        aria-controls="list-details"
        [attr.aria-selected]="currentFragment === 'list-details'"
        tabindex="-1"
      >
        List details
      </a>
    </li>
  </ul>
  <!-- Applications panel -->
  <div
    class="govuk-tabs__panel"
    role="tabpanel"
    aria-labelledby="tab_applications"
    [class.govuk-tabs__panel--hidden]="currentFragment === 'list-details'"
  >
    <div class="header-with-actions">
      <h2 class="govuk-heading-l">Applications</h2>
      <div class="govuk-button-group">
        <button
          type="button"
          class="govuk-button"
          [routerLink]="['/applications-list', id, 'create']"
        >
          Create
        </button>
        <button
          type="button"
          class="govuk-button govuk-button--secondary"
          [routerLink]="['/applications-list', id, 'bulk-upload']"
        >
          Bulk upload
        </button>
      </div>
    </div>
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sequence number</th>
        <th scope="col" class="govuk-table__header">Account number</th>
        <th scope="col" class="govuk-table__header">Applicant</th>
        <th scope="col" class="govuk-table__header">Respondent</th>
        <th scope="col" class="govuk-table__header">Post code</th>
        <th scope="col" class="govuk-table__header">Title</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Fee req</th>
        <th scope="col" class="govuk-table__header">Resulted</th>
        <th scope="col" class="govuk-table__header">Actions</th>
      </tr>
      </thead>

      <tbody class="govuk-table__body">
      <tr class="govuk-table__row" *ngFor="let app of applications">
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ app.id }}
        </td>
        <td class="govuk-table__cell">
          {{ app.accountNumber || '—' }}
        </td>
        <td class="govuk-table__cell">
          {{ app.applicant?.name || app.standardApplicant?.applicantName || '—' }}
        </td>
        <td class="govuk-table__cell">
          {{ app.respondent?.forename1 }} {{ app.respondent?.surname }}
        </td>
        <td class="govuk-table__cell">
          {{ app.respondent?.postcode || '—' }}
        </td>
        <td class="govuk-table__cell">
          {{ app.applicationWording || app.applicationCode?.title || '—' }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ app.applicationCode?.feeDue ? 'Yes' : 'No' }}
        </td>
        <td class="govuk-table__cell">
          {{ app.resultId ? 'Yes' : 'No' }}
        </td>
        <td class="govuk-table__cell">
          <div class="govuk-button-group">
            <a class="govuk-button" [routerLink]="['/applications', app.id]">Open</a>
            <button type="button" class="govuk-button govuk-button--secondary">Update</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <nav class="govuk-pagination" aria-label="Pagination">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
               height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
        </a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
               height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>
  </div>

  <!-- List details panel -->
  <div
    class="govuk-tabs__panel"
    role="tabpanel"
    aria-labelledby="tab_list-details"
    [class.govuk-tabs__panel--hidden]="currentFragment !== 'list-details'"
  >
    <h2 class="govuk-heading-l">List details</h2>

    <form #listForm="ngForm" (ngSubmit)="onSubmit($event)">
      <div class="govuk-grid-row">
        <!-- Date -->
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="day-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">Date</h1>
              </legend>
              <div id="day-hint" class="govuk-hint">For example, 27 3 2007</div>
              <div class="govuk-date-input" id="day">
                <div class="govuk-date-input__item govuk-!-margin-right-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="day-day">Day</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day-day"
                           name="day-day" type="text" inputmode="numeric"
                           [(ngModel)]="formModel.date.day">
                  </div>
                </div>
                <div class="govuk-date-input__item govuk-!-margin-right-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="day-month">Month</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day-month"
                           name="day-month" type="text" inputmode="numeric"
                           [(ngModel)]="formModel.date.month">
                  </div>
                </div>
                <div class="govuk-date-input__item govuk-!-margin-right-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="day-year">Year</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="day-year"
                           name="day-year" type="text" inputmode="numeric"
                           [(ngModel)]="formModel.date.year">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <!-- Time -->
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group">
            <div class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="time">Time</label>
            </div>
            <div id="time-hint" class="govuk-hint">Enter the time in 24-hour format, for example 08:30</div>
            <input class="govuk-input govuk-input--width-10" id="time" name="time" type="text"
                   [(ngModel)]="formModel.time">
          </div>
        </div>

        <!-- Description -->
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group">
            <div class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="description">Description</label>
            </div>
            <div id="description-hint" class="govuk-hint">A description of the application list</div>
            <input class="govuk-input govuk-input--width-10" id="description" name="description" type="text"
                   [(ngModel)]="formModel.description">
          </div>
        </div>

        <!-- Status -->
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="status">Select status</label>
            <div id="status-hint" class="govuk-hint">The status of the application list</div>
            <select class="govuk-select" id="status" name="status" aria-describedby="status-hint"
                    [(ngModel)]="formModel.status">
              <option value="" disabled>Choose status</option>
              <option value="Open">Open</option>
              <option value="Closed">Closed</option>
            </select>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <!-- Court -->
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group">
            <div class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="court">Court</label>
            </div>
            <div id="court-hint" class="govuk-hint">A description of the court</div>
            <input class="govuk-input govuk-input--width-10" id="court" name="court" type="text"
                   [value]="formModel.courthouseName" disabled>
          </div>
        </div>

        <!-- Other location -->
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group">
            <div class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="location">Other location</label>
            </div>
            <div id="location-hint" class="govuk-hint">Other location description</div>
            <input class="govuk-input govuk-input--width-10" id="location" name="location" type="text"
                   [(ngModel)]="formModel.location">
          </div>
        </div>

        <!-- CJA -->
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group">
            <div class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="cja">CJA</label>
            </div>
            <div id="cja-hint" class="govuk-hint">Criminal justice area</div>
            <input class="govuk-input govuk-input--width-10" id="cja" name="cja" type="text"
                   [(ngModel)]="formModel.cja">
          </div>
        </div>

        <!-- Duration -->
        <div class="govuk-grid-column-one-quarter">
          <label class="govuk-label govuk-label--m">Duration</label>
          <div id="duration-hint" class="govuk-hint">Duration of the list</div>
          <div class="govuk-input__wrapper">
            <input class="govuk-input govuk-input--width-2" id="hours" name="hours" type="text" spellcheck="false"
                   [(ngModel)]="formModel.duration.hours">
            <div class="govuk-input__suffix govuk-!-margin-right-3" aria-hidden="true">HH</div>
            <input class="govuk-input govuk-input--width-2" id="minutes" name="minutes" type="text" spellcheck="false"
                   [(ngModel)]="formModel.duration.minutes">
            <div class="govuk-input__suffix govuk-!-margin-right-3" aria-hidden="true">MM</div>
          </div>
        </div>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">Update</button>
      </div>
    </form>
  </div>
</div>
